{% extends "draws/draw_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block draw_extra_head %}<script src="{% static 'js/coin.js' %}"></script>{% endblock draw_extra_head %}

{% block extra_js %}
    //Precaching the images
    coin.setup('{{ STATIC_URL }}' + "img/img_coin/");
{% endblock extra_js %}



{% block input_form %}
        {% crispy draw draw.helper %}
        <div class="text-center">
            <input type="image" id="img-coin" src="{% static "img/img_coin/head.png" %}" name="coin">
            <p>{% trans "Tap the coin to flip it." %}</p>
            {% if result %}
                <script>
                    coin.flip("{{ result.0.0 }}");
                </script>
            {% endif %}
        </div>
{% endblock input_form %}


{% block result %}
    {% if forloop.counter == 1 %}
        <script>
            coin.flip("{{ results.0 }}");
        </script>
    {% endif %}
    {% if results.0 == 'tail'%}
        {% trans 'tail' %}
    {% elif results.0 == 'head'%}
        {% trans 'head' %}
    {% else %}
        {{results.0}}
    {% endif %}

{% endblock result %}
