{% extends "draws/draw_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block draw_extra_head %}<script src="{% static 'js/dice.js' %}"></script>{% endblock draw_extra_head %}

{% block extra_js_onload %}
    //Precaching the images
    D6Animator.getImageBank("", '{{ STATIC_URL }}' + "img/img_dice/");
{% endblock extra_js_onload %}

{% block result %}
    {% if forloop.counter == 1 %}
        <script>console.log("Hola");
            results = {{ results }}
            D6.baseUrl = '{{ STATIC_URL }}' + "img/img_dice/"
            D6.dice(results);
        </script>
    {% endif %}

    {{ results }}
{% endblock result %}

