{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ bom.title }} | {% endblock title %}
{% block extra_head %}
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/favourites.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/slideSelector.js' %}"></script>
    <link href="{% static 'css/slideSelector.css' %}" rel="stylesheet">
    <script src="{% static 'js/public_draw_displayer.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet" />

    <script src="{% static 'js/card.js' %}"></script>
    <script src="{% static 'js/coin.js' %}"></script>
    <script src="{% static 'js/dice.js' %}"></script>
    {% block draw_extra_head %}{% endblock draw_extra_head %}
{% endblock extra_head %}
{% block extra_js %}
    //Precaching the images
    {% if bom.draw_type == "CoinDraw" %}
        coin.setup('{{ STATIC_URL }}' + "img/img_coin/");
    {% elif bom.draw_type == "DiceDraw"  %}
        D6.baseUrl = '{{ STATIC_URL }}' + "img/img_dice/"
        D6Animator.getImageBank("", D6.baseUrl);
    {% endif %}
{% endblock extra_js %}
{% block extra_jq_ready %}

    // When fields are focused, all the content is pre-selected
    $('.form-control').click(function() {
        var attr = $(this).hasClass('protected');
        if (typeof attr === typeof undefined || attr === false) {
            $(this).select();
        }
    });

    // Autoresize the title box when window is resized
    autosize = function(){
        var max_width = $("#draw-title-container").width();
        $("textarea.autogrow").width(max_width);
        $("textarea.autogrow").autoGrowInput({title:'{{ bom.title }}',maxWidth: max_width,minWidth:30,comfortZone:30});
    };

    // Autosize the title box the first time
    autosize();
    $( window ).resize(function() {
        // Autosize when the window is resized
        autosize();
    });

    // Disable submit button after submitting
    $('form').submit(function() {
        $(this).find("button[type='submit']").prop('disabled',true);
        return true;
    });

    $('.accordion').accordion({collapsible: true});

    $('#fav-button').favourites({
            "url_add": "{% url 'ws_add_favorite' %}",
            "url_remove": "{% url 'ws_remove_favorite' %}",
            "user_authenticated": {{ user.is_authenticated|yesno:"true,false" }},
            "draw_id": "{{ bom.pk }}",
            "path_img_star": "{% static "img/star.png" %}",
            "path_img_star_empty": "{% static "img/star-o.png" %}",
            "msg_regsiter": "You need an account to save your favourite draws",
            "msg_toss": "Click on the 'Toss' button to try the draw first"
    });
    {% if bom.is_shared %}
        var $chat_containers = $('#chat-frame, #chat-column');
		var $chats = $chat_containers.chat({
            "authorized": {%if user.is_anonymous%} false {% else %} true {% endif %},
            "is_enabled": {{bom.enable_chat|yesno:"true,false"}},
            "url_send_message": "{% url 'chat_add_message' %}",
            "draw_id": "{{ bom.pk }}",
            "msg_type_your_message": "{% trans 'Type your message here...' %}",
            "msg_login_first": "{% trans 'Please, sign in to be able to use the chat'%}",
            "msg_chat": "{% trans 'Chat' %}",
            "msg_send": "{% trans 'Send' %}"
        });

        PublicDraw.draw_id = "{{ bom.pk }}";
        PublicDraw.bom_password = "{{bom.password}}";
        PublicDraw.bom_last_updated = moment.utc("{{bom.last_updated_time.isoformat}}");
        PublicDraw.chats = $chats;
        PublicDraw.url_invite_users = "{% url 'ws_add_users_to_draw' %}";
        PublicDraw.url_get_draw_details = "{% url 'ws_get_draw_details' %}";
        PublicDraw.url_update_draw = "{% url 'update_draw' draw_id=bom.pk %}";
        PublicDraw.url_update_settings = "{% url 'ws_update_share_settings' %}";
        PublicDraw.setup();

        var share_url = document.domain + "{% url 'retrieve_draw' draw_id=bom.pk %}";
        $('#url-share').val(share_url);

    {% else %}
        $("#draw-form :input").change(function(changed_input) {
            draw_updated_flag = true; //marks the draw as updated
        });
    {% endif %}

    var draw_updated_flag = false;
    $("#toss-button").click( function() {
        if (draw_updated_flag) {
            $("#draw-form").attr("action", "{% url 'update_draw' draw_id=bom.pk %}");
            $("#draw-form").submit();
            return;
        }
        $.ajax({
            method : "GET",
            url   : "{% url 'ws_toss_draw' %}",
            data  : {draw_id : "{{bom.pk}}", draw_pass : "{{bom.password}}"}
        }).done(function (){
            window.location.reload();
        })
        .fail(function () {
            alert("{% trans 'There was an issue when tossing the draw :(' %}");
        });
    });

    $('.eas-tokenfield').tokenfield({createTokensOnBlur:true});
{% endblock extra_jq_ready %}
{% block content %}
    {# breadcrumb to assist the creation of a public draw #}
    {% include "snippets/snippet_breadcrumb.html" %}
    <form class="clearfix" method="post" id="draw-form">
        <!-- Draw Heading -->
        <div class="clearfix draw-heading">
            <a href="{% url 'index' %}" class="back-arrow col-xs-2 col-sm-2 text-center">
                <img src="{% static "img/back_arrow.png" %}" alt="{% trans "back" %}"/>
            </a>
            <div class="col-xs-8 visible-xs"></div>
            {% if bom.is_shared %}
                {% if not bom.owner or bom.owner == user.pk %}
                    <a id="settings-button" data-toggle="modal" href="#public-draw-settings" title="{%trans 'Public draw settings'%}" class="public-draw-settings col-xs-2 col-sm-2 col-sm-push-8 text-center ">
                        <span id="public-draw-options" class="fa fa-gear fa-2x"></span>
                    </a>
                {% else %}
                    <div class="hidden-xs col-xs-2 col-sm-2 col-sm-push-8"></div>
                {% endif %}
            {% else %}
                    <a id="fav-button"
                    {% if bom.pk in user.favourites %}
                    data-active="y"
                    {% else %}
                    data-active="n"
                    {% endif %}
                    href="#" data-id="{{bom.pk}}" title="{%trans 'Add draw to favourites'%}" class="add-favourites col-xs-2 col-sm-2 col-sm-push-8 text-center ">
                        <span id="fav-loading" class="fa fa-spinner fa-pulse fa-2x hide"></span>
                    {% if bom.pk in user.favourites %}
                        <img src="{% static "img/star.png" %}" alt="{% trans "Remove from favourites" %}"/>
                    {% else %}
                        <img src="{% static "img/star-o.png" %}" alt="{% trans "Add to favourites" %}"/>
                    {% endif %}
                    </a>
            {% endif %}
            <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                <textarea name="title" class="form-control protected autogrow draw-title-area text-center" rows="1">{{ bom.title }}</textarea>
            </div>
        </div>
        <!-- End Draw Heading -->

        <div class="col-sm-8 col-sm-offset-2">
            {# pre-draw #}
                {% if bom.draw_type == "LinksSetsDraw" %}
                    <div class='alert alert-info' role='alert'>{%trans 'Separate items by commas. e.g: David S, Maria, Leo, ...'%}</div>
                {% endif %}
            {# end pre-draw #}
            <!-- Display Form -->
            {% crispy draw draw.helper %}
            <div class="col-xs-12 text-center">
                <!-- Button to toss -->
                <div class="row btn-row">
                    {% if not bom.is_shared %}
                        <button id="toss-button" type="button" class="btn btn-success">{% trans 'Toss' %}</button>
                    {% else %}
                        {%if not bom.owner or bom.owner == user.pk %}
                            <button id="toss-button" type="button" class="btn btn-success">{% trans 'Toss' %}</button>
                            {# Buttons to save changes when editing an already published public draw #}
                            <div id="edit-draw-save-changes" class="hide">
                                <a href="#" id="edit-draw-cancel" class="col-xs-6 btn btn-default">{% trans 'Cancel edition' %}</a>
                                <button type="submit" id="edit-draw-save" class="col-xs-6 btn btn-primary">{% trans 'Save changes' %}</button>
                            </div>
                        {%else%}
                            <button id="toss-disabled-button" type="button" class="btn btn-success" disabled="disabled">{% trans 'Toss' %}</button>
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {%trans 'Only the owner of the draw can toss. '%}[{{bom.owner}}]
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <!-- End Input Form -->
    <!-- Chat -->
    {% if bom.is_shared %}
        <div id="chat-frame" class="chat chat-inline hidden row col-md-8 col-md-offset-2" ></div>
    {% endif %}
    <!-- End Chat -->

    <!-- Results -->
    {% if bom.results  %}
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row text-center accordion">
                {% for result in bom.results reversed %}
                {% with result.items as results%}
                    {% if results %}
                        <p class="h3">
                            {%trans 'Result' %}{{results|length|pluralize}}
                            <small class="visible-xs-inline">{{result.datetime|date:"d/m/y H:i:s"}}</small>
                            <small class="result-timestamp hidden-xs">{%trans ' generated on '%}{{result.datetime|date:"d M Y, H:i:s"}}</small>
                            {% if bom.audit and bom.audit.0 and bom.audit.0.datetime > result.datetime %}
                            <i class="fa fa-exclamation-triangle" title="Warning! The draw was modified after the generation of this result."></i>
                            {% endif %}
                        </p>
                        <div class="result">
                            {% include draw.TEMPLATE_PATH %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- End Results -->

    <!-- Modal settings Panel -->
    <div id="public-draw-settings" class="modal fade" tabindex="-1" role="dialog" data-focus-on="input:first">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="settings-general">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Public draw settings" %}</h4>
                    </div>
                    <div class="modal-body">
                        <ul id="" class="list-group">
                            <li id="edit-draw" class="settings-option list-group-item">{% trans "Edit draw configuration" %}</li>
                            <li id="invite" class="settings-option list-group-item">{% trans "Invite people" %}</li>
                            <li id="privacy" class="settings-option list-group-item">{% trans "Who can access your draw" %}</li>
                            <li class="settings-option list-group-item"><input type="checkbox" id="settings-show-in-public-list" {%if bom.show_in_public_list %}checked{%endif%}>{% trans "Show the draw in 'Recently created'" %}</li>
                            <li class="settings-option list-group-item"><input type="checkbox" id="settings-chat-enabled" {%if bom.enable_chat %}checked{%endif%}>{% trans "Enable chat" %}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Cancel" %}</button>
                        <button id="save-settings" data-dismiss="modal" type="button" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
                <div id="settings-edit-draw" class="settings-submenu hide">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Edit draw configuration" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans "If you modify the draw's configuration the spectator will be notified about these changes. Are you sure you want to continue?" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default btn-settings-back">{% trans "Back" %}</a>
                        <a id="edit-draw-confirmation" class="btn btn-warning">{% trans "Edit draw" %}</a>
                    </div>
                </div>
                <div id="settings-invite" class="settings-submenu hide">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Invite people" %}</h4>
                    </div>
                    <div class="modal-body">
                        <span class="invite-people-option">{% trans "Option 1)" %}</span>
                        <p>{% trans "Share the link to the draw:" %}</p>
                        <input id="url-share" class="text-center" readonly>
                        <span class="invite-people-option">{% trans "Option 2)" %}</span>
                        <p>{% trans "Send an invitation to the emails below" %}</p>
                        <div id="alert-invitation-failed" class="alert feedback alert-danger hide" role="alert">
                            <strong>{% trans "Ops!" %}</strong> {% trans "One or more emails contain errors..." %}
                        </div>
                        <div id="alert-invitation-success" class="alert feedback alert-success hide" role="alert">
                            <strong>{% trans "Everything went right!" %}</strong> {% trans "The invitation will arrive soon to these emails." %}
                        </div>
                        <input type="text" id="invite-emails" class="form-control" placeholder="{% trans "Type the emails here..."%}">
                        <div class="text-center"><a id="send-emails" data-id="{{bom.pk}}" class="btn btn-info">{% trans "Send emails" %}</a></div>

                        <div class="clearfix">
                            <div class="invited-users">
                                <span class="invited-users-spoiler" data-toggle="collapse">{% trans "Who is already invited?" %} <span class="fa fa-chevron-down"></span></span>
                            </div>
                            <div class="collapse out">
                              <div>
                                <input type="text" id="invited-users" class="form-control" value="{% for user in bom.users %}{{ user }} {% endfor %}">
                              </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default btn-settings-back">{% trans "Back" %}</a>
                        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Close" %}</button>
                    </div>
                </div>

                <div id="settings-privacy" class="settings-submenu hide">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Restrict the access to your draw" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% include "snippets/snippet_public_draw_privacy.html" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default btn-settings-back">{% trans "Back" %}</a>
                        <button id="save-change-privacy" data-dismiss="modal" type="button" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block right_column %}
    <div id="chat-column" class="col-xs-12 chat chat-outside hidden"></div>
{% endblock right_column %}

