{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load eas_humanize %}
{% load is_future %}
{% load draw_tags %}
{% block title %}{{ bom.title }} | {% endblock title %}
{% block description %}
    {% if bom.description %}
        {{ bom.description }}
    {% else %}
        {% if "echaloasuerte" in request.get_host %}
            Deja que el azar tome una decision por ti. Olvídate de los papelitos, números, listas, rifas, etc... Esta es tu página, y cada uno desde su ordenador!
        {% else %}
            Not sure about a choice? Choose random! Heads or tails, lottery, etc...
        {% endif %}
    {% endif %}
{% endblock description %}
{% block extra_head %}
    <meta name="robots" content="noindex">
    {# Open Graph Markup: https://developers.facebook.com/docs/sharing/webmasters#markup #}
    <meta property="og:url"           content="{{ bom|permalink:request }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ bom.title }}" />
	<meta property="og:description"   content="{{ bom.description }}" />
	<meta property="og:image"         content="{% static 'img/icon192x192.png' %}" />
    <link href="{% static 'css/eas-draw-base.css' %}" rel="stylesheet">
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/favourites.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <!-- Bootstrap TokenField -->
    <script src="{% static 'js/bootstrap-tokenfield.js' %}"></script>
    <link href="{% static 'css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/jquery.bracket.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.bracket.js' %}"></script>
    <script src="{% static 'js/card.js' %}"></script>
    <script src="{% static 'js/spinable.js' %}"></script>
    <script src="{% static 'js/coin.js' %}"></script>
    <script src="{% static 'js/dice.js' %}"></script>
    <script src="{% static 'js/raffle.js' %}"></script>
    <script src="{% static 'js/photo.js' %}"></script>
    <script src="{% static 'js/draw_manager.js' %}"></script>
    <script src="{% static 'js/csphotoselector.js' %}"></script>
    <link href="{% static 'css/csphotoselector.css' %}" rel="stylesheet">
    {% if bom.is_shared %}
        <script src="{% static 'js/shared_draw_manager.js' %}"></script>
        <script src="{% static 'js/chat.js' %}"></script>
        <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet" />
        <script src="{% static 'js/jquery.datetimepicker.min.js' %}"></script>
    {% endif %}
{% endblock extra_head %}
{% block extra_jq_ready %}
    moment.locale('{%if "echaloasuerte" in request.get_host%}es{%else%}en{%endif%}');
    $('.eas-tokenfield').tokenfield({createTokensOnBlur:true});
    {% if bom.draw_type == "coin" %}
        var base_url = '{{ STATIC_URL }}' + "img/img_coin/";
        var $coin = $('#img-coin').coin({
            "base_url": base_url
        });
    {% elif bom.draw_type == "dice" %}
        D6.baseUrl = '{{ STATIC_URL }}' + "img/img_dice/"
        //Precaching the images
        D6Animator.getImageBank("", D6.baseUrl);
    {% elif bom.draw_type == "spinner" and bom.results %}
        spin($('#img-spinner'), {{bom.results.0.items.0}});
    {% elif bom.draw_type == "card" %}
        Card.baseUrl = '{{ STATIC_URL }}' + "img/img_cards/"
    {% elif bom.draw_type == "raffle" %}
        Raffle.url_raffle = "{{ bom|permalink:request }}";
        Raffle.url_register = '{% url 'api_draw_register' api_name='v1' pk=bom.pk %}';
        Raffle.setup_display('{{ bom.registration_type }}');
    {% endif %}

    $('#create-shared-from-private').click(function(){
        ga('send', 'event', 'shared_draw', 'create_attempt', 'from_private');
    });


    $('#fav-button').favourites({
        "url_add": "{% url 'api_dispatch_list' api_name="v1" resource_name="favourite" %}",
        "url_remove": "{% url 'api_dispatch_detail' api_name="v1" resource_name="favourite" pk=bom.pk %}",
        "user_authenticated": {{ user.is_authenticated|yesno:"true,false" }},
        "draw_id": "{{ bom.pk }}",
        "path_img_star": "{% static "img/star.png" %}",
        "path_img_star_empty": "{% static "img/star-o.png" %}",
        "msg_regsiter": "{% trans "You need an account to save your favourite draws" %}",
        "msg_toss": "{% trans "Click on the 'Toss' button to try the draw first" %}"
    });
    {% if bom.is_shared %}

        {% if user.is_authenticated %}
            var user_alias = "{{ user.alias }}";
        {% else %}
            var user_alias = getCookie("user_alias");
        {% endif %}

        var pusher = new Pusher('61af23772ca14dff55e5', {
            encrypted: true,
            authEndPoint: "{% url 'pusher_auth' %}"
        });
        var channel = pusher.subscribe('private-{{bom.pk}}');
        channel.bind('pusher:subscription_error', function(status) {
            setInterval(SharedDraw.check_draw_changes,2000);
        });
        channel.bind('client-message', function () {
            SharedDraw.check_draw_changes();
        });
        channel.bind('client-draw_update', function () {
            SharedDraw.check_draw_changes();
        });

    {% else %}
        //no op
        var channel = {
            trigger: function(){}
        };
    {% endif %}

    var $draw_maneger = $('#draw-form').drawManager({
        url_toss: "{% url 'api_draw_toss' api_name="v1" pk=bom.pk %}",
        draw_type: "{{ bom.draw_type }}",
        url_update: "{% url 'api_dispatch_detail' api_name="v1" resource_name="draw" pk=bom.pk %}",
        url_schedule_toss: "{% url 'api_draw_schedule' api_name="v1" pk=bom.pk schedule="ts_placeholder"%}",
        msg_result: "{% trans "Result" %}",
        msg_generated_on: "{% trans "generated" %}",
        msg_audit: "{% trans "Warning! The draw was modified after the generation of this result" %}",
        spinner_image_url: "{% static 'img/draw_icons/spinner.svg' %}",
        translations: {
            head: "{% trans 'head' %}",
            tail: "{% trans 'tail' %}"
        },
        {% if bom.is_shared %}
        updated_callback: function() {
            SharedDraw.check_draw_changes();
            channel.trigger('client-draw_update', "");
        }
        {% endif %}
    });

    {% if bom.is_shared %}
        var $chat_containers = $('#chat-frame, #chat-column');
		var $chats = $chat_containers.chat({
            "is_enabled": {{bom.enable_chat|yesno:"true,false"}},
            "message_sent_callback": function(message){
                SharedDraw.check_draw_changes();
                channel.trigger('client-message', message);
            },
            "url_send_message": "{% url 'api_draw_chat' api_name="v1" pk=bom.pk %}",
            "user_id": {% if user.is_authenticated %} "{{ user.pk }}" {% else %} null {% endif %},
            "user_alias": user_alias,
            "draw_id": "{{ bom.pk }}",
            "msg_type_your_message": "{% trans 'Type your message here...' %}",
            "msg_type_your_alias": "{% trans 'Type your alias' %}",
            "msg_login_first": "{% trans "To use the chat you should <a href='#'>login</a> or <a href='#'>register</a>" %}",
            "msg_alias": "{% trans "If not, simply type an Alias that allows others to recognize you" %}",
            "msg_error_alias": "{% trans "The alias must have between 2 and 20 characters" %}",
            "msg_access_chat": "{% trans "Access chat" %}",
            "msg_chat": "{% trans 'Chat' %}",
            "msg_send": "{% trans 'Send' %}",
            "default_avatar": "{% static 'img/anon-user-avatar.png' %}"
        });

        var shared_draw_options = {
            draw_id: "{{ bom.pk }}",
            is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
            bom_last_updated: moment.utc("{{bom.last_updated_time.isoformat}}"),
            chats: $chats,
            draw_manager: $draw_maneger,
            url_invite_users: "{% url 'api_dispatch_detail' api_name="v1" resource_name="draw" pk=bom.pk %}",
            url_get_chat_messages: "{% url 'api_draw_chat' api_name="v1" pk=bom.pk %}",
            url_update: "{% url 'api_dispatch_detail' api_name="v1" resource_name="draw" pk=bom.pk %}",
            url_subscribe: "{% url 'api_dispatch_detail' resource_name="draw" api_name="v1" pk=bom.pk %}",
            url_share_fb: location.protocol + "//" + location.host + "{% url "retrieve_draw" draw_id=bom.pk %}",
            msg_error_subscribe: "{% trans "There was an issue when subscribing to the draw :(" %}",
            msg_error_unsubscribe: "{%trans "There was an issue when unsubscribing to the draw :(" %}",
            {% if not bom.owner or bom.owner == user.pk %}
                msg_tooltip_protected: "{% trans "To edit the details go to Settings" %}",
            {% endif %}
        }
        SharedDraw.setup(shared_draw_options);
    {% else %}

        $("#normal-draw-toss").click( function() {
            $draw_maneger.drawManager('check_changes_and_toss');
            return false;
        });
    {% endif %}
    {% if bom.is_shared %}
      {% if not bom.owner%}
         ga('send', 'event', 'shared_draw_display', 'no_owner', '{{ bom.pk }}');
      {% else %}
        {% if bom.owner == user.pk %}
           ga('send', 'event', 'shared_draw_display', 'owner', '{{ bom.pk }}');
        {% else %}
           ga('send', 'event', 'shared_draw_display', 'guest', '{{ bom.pk }}');
        {% endif %}
      {% endif %}
    {% endif %}
{% endblock extra_jq_ready %}

{% block fb_async %}
    {% if bom.draw_type == "photo" %}
        var $fetch_fb_photos = $('#fetch-fb-photos');
		$fetch_fb_photos.click(fetch_fb_photos);
		$fetch_fb_photos.toggleClass('hidden', {{ bom.is_shared|yesno:"true,false" }});
    {% elif bom.draw_type == "raffle" and bom.registration_type == bom.FACEBOOK %}
        Raffle.fb_enable_registration("{{ bom.registration_requirement }}");
    {% endif %}
{% endblock fb_async %}
{% block content %}
    <form class="clearfix" method="post" id="draw-form">
        <!-- Draw Heading -->
        <div class="clearfix draw-heading">
            <a href="{% url 'index' %}" class="draw-option-icon back-arrow col-xs-2 col-sm-2 text-center">
                <img src="{% static "img/back_arrow.png" %}" alt="{% trans "back" %}"/>
            </a>
        <div id="draw-options" class="col-xs-4 col-xs-push-6 col-sm-2 col-sm-push-8">
            {% if bom.is_shared %}
                {% if not bom.owner or bom.owner == user.pk %}
                    <a id="edit-settings-button" data-toggle="modal" href="#shared-draw-settings-modal" class="draw-option-icon text-center ">
                        <span id="shared-draw-settings" class="fa fa-gear fa-2x"></span>
                        <p>{% trans "Settings" %}</p>
                    </a>
                {% else %}
                    <a id="subscribe-button" data-active="{% if user.pk in bom.users %}y{%else%}n{%endif%}" href="#" class="draw-option-icon">
                        <span class="fa fa-envelope fa-2x"></span>
                        <p>{% trans "Subscribe" %}</p>
                    </a>
                {% endif %}
            {% else %}
                    <a id="fav-button"
                    {% if bom.pk in user.favourites %}
                    data-active="y"
                    {% else %}
                    data-active="n"
                    {% endif %}
                    href="#" data-id="{{bom.pk}}" title="{%trans 'Add draw to favourites'%}" class="draw-option-icon eas-tooltip add-favourites col-sm-push-8 text-center ">
                        <span id="fav-loading" class="fa fa-spinner fa-pulse fa-2x hide"></span>
                    {% if bom.pk in user.favourites %}
                        <img src="{% static "img/star.png" %}" alt="{% trans "Remove from favourites" %}"/>
                    {% else %}
                        <img src="{% static "img/star-o.png" %}" alt="{% trans "Add to favourites" %}"/>
                    {% endif %}
                    </a>
                    <a id="create-shared-from-private" href="{% url 'create_shared_draw' draw_type=draw.NAME_IN_URL %}" class="draw-option-icon eas-tooltip" title="{% trans 'Create a shared one' %}">
                        <span class="fa fa-share-alt fa-2x"></span>
                    </a>
            {% endif %}
                </div>
            <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                <textarea name="title" class="form-control protected autogrow draw-title-area text-center" rows="1">{{ bom.title }}</textarea>
            </div>
            {% if bom.description %}
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                        <textarea id="draw-description-area" name="description" class="protected">{{bom.description}}</textarea>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- End Draw Heading -->
        <div class="col-sm-8 col-sm-offset-2">
            <div id="general-errors" class="alert alert-danger hidden" role="alert">
                <span class="fa fa-exclamation-triangle " aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <span class="error-message"></span>
            </div>
            <!-- Display Form -->
            {% crispy draw draw.helper %}
            <div class="col-xs-12 text-center">
                <!-- Button to toss -->
                <div class="row btn-row">
                    {% if not bom.is_shared %}
                        <button type="button" id="normal-draw-toss" class="btn btn-success submit-lockable" autocomplete="off">{% trans 'Toss' %}</button>
                    {% else %}
                        {%if not bom.owner or bom.owner == user.pk %}
                            <button type="button" id="shared-draw-toss" class="btn btn-success submit-lockable" autocomplete="off">{% trans 'Toss' %}</button>
                            <button type="button" id="schedule-toss-button" class="btn btn-default submit-lockable eas-tooltip" title="{% trans 'Schedule Toss' %}" autocomplete="off">
                                <i class="fa fa-clock-o" ></i>
                            </button>
                            {# Buttons to save changes when editing an already published shared draw #}
                            <div id="edit-draw-save-changes" class="btn-row hide">
                                <a href="#" id="edit-draw-cancel" class="col-xs-6 btn btn-default">{% trans 'Cancel edition' %}</a>
                                <button type="button" id="edit-draw-save" class="col-xs-6 btn btn-primary submit-lockable" autocomplete="off">{% trans 'Save changes' %}</button>
                            </div>
                        {%else%}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <a class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                {%trans 'The resuls will be automatically shown as soon as they are released'%}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <!-- End Input Form -->

    <!-- Results -->
    {% if bom.results %}
        <div id="results" class="col-sm-8 col-sm-offset-2">
            <div class="row text-center accordion">
                {% for result in bom.results reversed %}
                {% with result.items as results%}
                    {% if results %}
                        <p class="h3">
                            {%trans 'Result' %}{{results|length|pluralize}}
                            {% if result.publication_datetime and not result.publication_datetime|is_future %}
                            <small class="result-timestamp">
                                <span class="hidden-xs">{%trans ' published '%}</span>
                                <span class="relative-time" data-value="{{result.publication_datetime|date:"c"}}">{{result.publication_datetime|naturaltime}}</span>
                            </small>
                            {%else%}
                            <small class="result-timestamp">
                                <span class="hidden-xs">{%trans ' generated '%}</span>
                                <span class="relative-time" data-value="{{result.datetime|date:"c"}}">{{result.datetime|naturaltime}}</span>
                            </small>
                            {%endif%}
                            {% if bom.audit and bom.audit.0 and bom.audit.0.datetime > result.datetime %}
                            <i class="fa fa-exclamation-triangle eas-tooltip" title="Warning! The draw was modified after the generation of this result."></i>
                            {% endif %}
                        </p>
                        <div class="result">
                            {% if result.publication_datetime and result.publication_datetime|is_future %}
                            <p>{% trans 'This result will be available '%}<span class="relative-time" data-value="{{result.publication_datetime|date:"c"}}">loading...</span></p>
                            {% else %}
                                {% include draw.TEMPLATE_PATH %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- End Results -->

    <!-- Chat -->
    {% if bom.is_shared %}
        <div id="chat-frame" class="chat chat-inline hidden row col-sm-10 col-sm-offset-1" ></div>
    {% endif %}
    <!-- End Chat -->

    {% if bom.is_shared %}
        <!-- Modal settings Panel -->
        <div id="shared-draw-settings-modal" class="modal fade" tabindex="-1" role="dialog" data-focus-on="input:first">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="settings-general">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans "Shared draw settings" %}</h4>
                        </div>
                        <div class="modal-body">
                            <ul id="" class="list-group">
                                <li id="edit-draw" class="settings-option list-group-item">{% trans "Edit draw configuration" %}</li>
                                <li id="invite" class="settings-option list-group-item">{% trans "Invite people" %}</li>
                                <li class="settings-option list-group-item"><input type="checkbox" id="settings-chat-enabled" {%if bom.enable_chat %}checked{%endif%}>{% trans "Enable chat" %}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Cancel" %}</button>
                            <button id="save-settings" data-dismiss="modal" type="button" class="btn btn-primary">{% trans "Save" %}</button>
                        </div>
                    </div>
                    <div id="settings-edit-draw" class="settings-submenu hide">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans "Edit draw configuration" %}</h4>
                        </div>
                        <div class="modal-body">
                            {% trans "If you modify the draw's configuration the spectator will be notified about these changes. Are you sure you want to continue?" %}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default btn-settings-back">{% trans "Back" %}</a>
                            <a id="edit-draw-confirmation" class="btn btn-warning">{% trans "Edit draw" %}</a>
                        </div>
                    </div>
                    <div id="settings-invite" class="settings-submenu hide">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans "Invite people" %}</h4>
                        </div>
                        <div class="modal-body">
                            <span class="invite-people-option">{% trans "Option 1)" %}</span>
                            <p>{% trans "Share the link to the draw:" %}</p>
                            <input class="url-share text-center" readonly onclick="$(this).select_and_copy();" title="{% trans 'URL copied to clipboard' %}">
                            <span class="invite-people-option">{% trans "Option 2)" %}</span>
                            <p>{% trans "Send an invitation to the emails below" %}</p>
                            <div id="alert-invitation-failed" class="alert feedback alert-danger hidden" role="alert">
                                <strong>{% trans "Oops!" %}</strong> {% trans "One or more emails contain errors..." %}
                            </div>
                            <div id="alert-invitation-success" class="alert feedback alert-success hidden" role="alert">
                                <strong>{% trans "Everything went right!" %}</strong> {% trans "The invitation will arrive soon to these emails." %}
                            </div>
                            <input type="text" id="invite-emails" class="form-control" placeholder="{% trans "Type the emails here..."%}">
                            <div class="text-center"><a id="send-emails" class="btn btn-info">{% trans "Send emails" %}</a></div>
                            <span class="invite-people-option">{% trans "Option 3)" %}</span>
                            <p>
                                Facebook:
                            </p>
                            <div id="share-fb-icon" class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button"></div>

                            <div class="clearfix">
                                <div class="invited-users">
                                    <span class="invited-users-spoiler" data-toggle="collapse">{% trans "Who is already invited?" %} <span class="fa fa-chevron-down"></span></span>
                                </div>
                                <div class="collapse out">
                                  <div>
                                    <input type="text" id="invited-users" class="form-control" value="{% for user in bom.users %}{{ user }} {% endfor %}">
                                  </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default btn-settings-back">{% trans "Back" %}</a>
                            <button id="close-invite" type="button" data-dismiss="modal" class="btn btn-default">{% trans "Close" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- "Scheduling toss" modal -->
        <div id="schedule-toss-modal" class="modal fade"  tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Schedule Toss" %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans "Do you want to schedule the generation of a result?" %}</p>
                        <p>{% trans "This way it will appear automatically." %}</p>
                        <input id="toss-schedule" class="form-control datetimepicker" type="text" >
                    </div>
                    <div class="modal-footer text-center ">
                        <a class="btn btn-primary" id="confirm-schedule-button" autocomplete="off">{% trans "Schedule it!" %}</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    {% if bom.draw_type == "photo" %}
        {% include 'snippets/fb_photo_selector.html' %}
    {% endif %}

{% endblock content %}

{% block right_column %}
    <div id="chat-column" class="col-xs-12 chat chat-outside hidden"></div>
{% endblock right_column %}

{% block extra_body %}
    <!-- Warning "Log in" modal -->
    <div class="modal fade" id="warning-login" tabindex="-1" role="dialog" aria-labelledby="WarningLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Ops, who are you?" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "In order to save your favourite draws and used them later you need to log in. Check out the list of benefits of using an account!" %}
                    <ul>
                        <li>{% trans "Only you can manage the shared draws you create (edit them, invite users, enable/disable the chat...)" %}</li>
                        <li>{% trans "Store your favourite draws for faster access" %}</li>
                        <li>{% trans "Access your draw history at any moment" %}</li>
                    </ul>
                    <div class="text-center" >
                        <a href="{% url 'login' %}" type="button" class="btn btn-success">{% trans "Log in" %}</a>
                        <div id="create-account">
                            <p>{% trans "Don't you have an account yet?" %}<br/>
                            {% trans "It takes only 30 seconds, and <strong>it's totally FREE!</strong>" %}</p>
                            <a href="{% url 'register' %}" type="button" >{% trans "Create an account" %}</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No thanks" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_body %}

