{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ bom.title|default:bom.DEFAULT_TITLE }} | {% endblock title %}
{% block extra_head %}
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/slideSelector.js' %}"></script>
    {% if is_public %}<script src="{% static 'js/public_draw_manager.js' %}"></script>{% endif %}
    {% block draw_extra_head %}{% endblock draw_extra_head %}
{% endblock extra_head %}
{% block extra_jq_ready %}
    // When fields are focused, all the content is pre-selected
    $('.form-control').click(function() {
      $(this).select();
    });

    // Autoresize the title box when window is resized
    autosize = function(){
        var max_width = $("#draw-title-container").width()*2/3;
        $("textarea.autogrow").width(max_width);
        $("textarea.autogrow").autoGrowInput({title:'{{ bom.title|default:bom.DEFAULT_TITLE }}',maxWidth: max_width,minWidth:30,comfortZone:30});
    };

    // Autosize the title box the first time
    autosize();
    $( window ).resize(function() {
        // Autosize when the window is resized
        autosize();
    });

    // Disable submit button after submitting
    $('form').submit(function() {
        $(this).find("button[type='submit']").prop('disabled',true);
        return true;
    });

    $('.accordion').accordion({collapsible: true});

    // Update draw's password
    $('.change-password').click(function(){
        $('#id_password').val($('#draw-password').val());
    });

    // Setting up "Add to favourite" button
    $(this).find('#fav-loading').hide();
    $('#fav-button').click(function(){
        if ('{{ user.is_authenticated }}' == 'False'){
            alert("You need an account to save your favourite draws");
        } else{
            var draw_id = $(this).attr("data-id");
            if (draw_id == 'None'){
                alert("Click on the 'Toss' button to try the draw first");
            }else{
                var is_fav = ($(this).attr("data-active") == "y");
                $this = $(this);
                var $fav_image = $this.find('img');
                var $fav_loading = $this.find('#fav-loading');
                $fav_image.hide();
                $fav_loading.show();
                if(is_fav){
                    $.get('{% url 'ws_remove_favorite' %}', {draw_id: draw_id}, function(data){
                        $this.attr("data-active","n");
                        $this.find('img').attr("src","{% static "img/star-o.png" %}");
                        $fav_loading.hide();
                        $fav_image.show();
                    });
                } else {
                    $.get('{% url 'ws_add_favorite' %}', {draw_id: draw_id}, function(data){
                        $this.attr("data-active","y");
                        $this.find('img').attr("src","{% static "img/star.png" %}");
                        $fav_loading.hide();
                        $fav_image.show();
                   });
                }
            }
         }
    });
    {% if is_public %}
        public_draw_manager.setup("{{ public_draw_step }}");
    {% endif %}

    {% block draw_extra_jq_ready %}{% endblock draw_extra_jq_ready %}

{% endblock extra_jq_ready %}
{% block content %}
    {# breadcrumb to assist the creation of a public draw #}
    {% include "breadcrumb.html" %}
    <div class="row">
        <form class="clearfix" method="post">
            <!-- Draw Heading -->
            <div class="clearfix draw-heading">
                <a href="{% url 'index' %}" class="back-arrow col-xs-2 col-sm-2 text-center">
                    <img src="{% static "img/back_arrow.png" %}"/>
                </a>
                <div class="col-xs-8 visible-xs"></div>
                {% if is_public %}
                    {% if not public_draw_step %}
                        <a id="settings-button" data-toggle="modal" href="#public-draw-settings" title="{%trans 'Public draw settings'%}" class="public-draw-settings col-xs-2 col-sm-2 col-sm-push-8 text-center ">
                            <span id="public-draw-options" class="fa fa-gear fa-2x"></span>
                        </a>
                    {% else %}
                        <div class="hidden-xs col-xs-2 col-sm-2 col-sm-push-8"></div>
                    {% endif %}
                {% else %}
	                    <a id="fav-button"
	                    {% if bom.pk in user.favourites %}
	                    data-active="y"
	                    {% else %}
	                    data-active="n"
	                    {% endif %}
	                    href="#" data-id="{{bom.pk}}" title="{%trans 'Add draw to favourites'%}" class="add-favourites col-xs-2 col-sm-2 col-sm-push-8 text-center ">
                            <span id="fav-loading" class="fa fa-spinner fa-pulse fa-2x"></span>
	                    {% if bom.pk in user.favourites %}
                            <img src="{% static "img/star.png" %}"/>
	                    {% else %}
                            <img src="{% static "img/star-o.png" %}"/>
	                    {% endif %}
	                    </a>
                {% endif %}
                <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                    <textarea name="title" class="form-control autogrow draw-title-area text-center" rows="1">{{ bom.title|default:bom.DEFAULT_TITLE }}</textarea>
                </div>
            </div>
            <!-- End Draw Heading -->
            {% if is_public %}
                {% if public_draw_step == "configure" or public_draw_step == "spread" %}
                    <!-- Inputs to configure the public draw, only rendered for configure and spread steps -->
                    <div class="step-spread">
                        {% include "public-draw-access.html" %}
                        {% include "public-draw-invite.html" %}
                {% endif %}
            {% endif %}

            <div class="col-sm-8 col-sm-offset-2">
                {%block pre_draw %} {%endblock pre_draw%}
                <!-- Errors -->
                {%for err in errors %}
                    <div class="alert alert-danger text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{err}}
                    </div>
                {% endfor  %}
                <!-- Input Form -->
                {% block input_form %}
                    <div class="step-configure">
                        {% crispy draw draw.helper %}
                    </div>
                    <div class="col-xs-12 text-center">
                        <!-- Buttons for 'Toss' or 'Try it!' -->
                        <div class="row btn-row">
                            {% if is_public %}
                                    {% if public_draw_step == "configure" %}
                                        <!-- Button to try a draw when creating a public one -->
                                        <button id="try" type="submit" name="try" class="btn btn-success">{% trans 'Try it!' %}</button>
                                    {% elif not public_draw_step %}
                                        <button type="submit" name="toss" class="btn btn-success"{%if not can_write%}disabled="disabled"{%endif%}>{% trans 'Toss' %}</button>
                                        {%if not can_write and bom.owner%}
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              {%trans 'Only the owner of the draw can toss. '%}[{{bom.owner}}]
                                            </div>
                                        {%endif%}
                                    {% endif %}
                            {% else %}
                                <button type="submit" name="toss" class="btn btn-success">{% trans 'Toss' %}</button>
                            {% endif %}
                        </div>

                        <!-- Buttons for 'Next step' and 'Cancel' public draw creation -->
                        {% if is_public %}
                            {% if public_draw_step == "configure" or public_draw_step == "spread" %}
                                <div class="col-sm-8 col-sm-offset-2 btn-row">
                                    <a href="{% url 'index' %}" class="col-xs-6 btn btn-default">{% trans 'Cancel' %}</a>
                                    {% if public_draw_step == "configure" %}
                                        <button type="submit" id="next" name="next" class="col-xs-6 btn btn-primary">{% trans 'Next step' %}</button>
                                    {% elif public_draw_step == "spread" %}
                                        <button type="submit" name="next" class="col-xs-6 btn btn-primary">{% trans 'Publish it' %}</button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endblock input_form %}
            </div>
            {# shared-type: It's part of "FormBase". Can be "None", "Public" or "Invite" #}
            <input class="hidden" name="shared_type" value="{% if is_public %}Public{% else %}None{% endif %}"/>
            {# submit-type: Determine the type of submition, by default it's a toss (normal or public) #}
            <input class="hidden" name="submit-type" value="{% if is_public %}public_toss{% else %}toss{% endif %}"/>
            {# public-draw-step: Can be "Choose", "Confifure" or "Spread" #}
            <input class="hidden" name="public-draw-step" />
        </form>
        <!-- End Input Form -->
        <!-- Results -->
        {% if not is_public or public_draw_step == "configure" or not public_draw_step %}
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row text-center accordion">
                    {% for result in bom.results reversed %}
                    {% with result.items as results%}
                        {% if results %}
                            <p class="h3">
                                {%trans 'Result' %}{{results|length|pluralize}}
                                <small class="visible-xs-inline">{{result.datetime|date:"d/m/y H:i:s"}}</small>
                                <small class="result-timestamp hidden-xs">{%trans ' generated on '%}{{result.datetime|date:"d M Y, H:i:s"}}</small>
                            </p>
                            <div >
                                {% block result %}{% endblock result %}

                            </div>
                        {% endif %}
                    {% endwith %}
                    {% endfor %}
                    <!-- Previous draw -->
                    {% if bom.prev_draw %}
                        <p class="h3">{%trans 'Result' %}{{results|length|pluralize}}<small>{%trans ' generated before '%}</small></p>
                        <div >
                           {%trans 'The configuration of the draw was changed.'%}<br/>
                           {%trans 'This is the previous version: '%}<a href="{%url 'retrieve_draw' draw_id=bom.prev_draw %}">{{ bom.DEFAULT_TITLE }}</a>

                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <!-- End Results -->
    </div>

    {% if is_public %}
        {# Hover panel to change the lever of restriction of the public draw (when setting it up) #}
        <div id="access-level" class="modal fade" tabindex="-1" style="display: none;" data-focus-on="input:first">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Restict the access to your draw" %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {% trans "Who do you want to access the draw?" %}
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <div id="restriction-headings">
                                <div id="restriction-everyone" class="col-xs-3">{% trans "Everyone" %}</div>
                                <div id="restriction-password" class="col-xs-6">{% trans "With password or invitation" %}</div>
                                <div id="restriction-invited" class="col-xs-3">{% trans "Only with invitation" %}</div>
                            </div>
                            <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1 slide-bar-container">
                                <div data-selected="everyone" class="slide-bar ui-widget-content">
                                    <div class="slider-tick" style="left: 0%"></div>
                                    <div class="slider-tick" style="left: 50%"></div>
                                    <div class="slider-tick" style="left: 100%"></div>
                                    <div class="slide-selector" ></div>
                                </div>
                            </div>
                        </div>
                        <div id="restriction-extra" class="col-xs-12">
                            <div id="extra-everyone" class="col-xs-12">
                                {% trans "Everyone will be able to access the draw." %}
                                <div class="alert alert-info" role="alert">
                                    {% trans "Tip: Use this mode for informal and fast draws. Neither invitation nor password will be required!" %}
                                </div>
                            </div>
                            <div id="extra-password" class="col-xs-12">
                                {% trans "Only those who know the password will be able to access the draw." %}
                                <div class="col-xs-12 input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input id="draw-password" type="password" class="form-control has-clear" name="password" placeholder="Password">
                                </div>
                                <div class="alert alert-info" role="alert">
                                    {% trans "Tip: You don't know exactly who is going to join the draw but still want some restriction? This is your draw!" %}
                                </div>
                            </div>
                            <div id="extra-invited" class="col-xs-12">
                                {% trans "You will be able to invite people by email when the draw is created." %}
                                <div class="alert alert-info" role="alert">
                                    {% trans "Tip: Use this mode for small/medium groups where you know well who do you want to join the draw." %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button id="save" data-dismiss="modal" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>

        {# Hover panel to show the settings of the public draw (when it is published) #}
        <div id="public-draw-settings" class="modal fade" tabindex="-1" style="display: none;" data-focus-on="input:first">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Public draw settings" %}</h4>
            </div>
            <div class="modal-body">
                <!-- To be filled -->
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button id="save" data-dismiss="modal" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    {% endif %}
{% endblock %}


