{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ bom.title|default:bom.DEFAULT_TITLE }} | {% endblock title %}
{% block extra_head %}
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/slideSelector.js' %}"></script>
    {% block draw_extra_head %}{% endblock draw_extra_head %}
{% endblock extra_head %}
{% block extra_jq_ready %}
    // When fields are focused, all the content is pre-selected
    $('.form-control').click(function() {
      $(this).select();
    });

    // Autoresize the title box when window is resized
    autosize = function(){
        var max_width = $("#draw-title-container").width()*2/3;
        $("textarea.autogrow").width(max_width);
        $("textarea.autogrow").autoGrowInput({title:'{{ bom.title|default:bom.DEFAULT_TITLE }}',maxWidth: max_width,minWidth:30,comfortZone:30});
    };

    // Autosize the title box the first time
    autosize();
    $( window ).resize(function() {
        // Autosize when the window is resized
        autosize();
    });

    // Disable submit button after submitting
    $('form').submit(function() {
        $(this).find("button[type='submit']").prop('disabled',true);
        return true;
    });

    // set type of submit
    $('button[type=submit]').click(function() {
        $("input[name=submit-type]").val($(this).attr("name"));
        return true;
    });


    $('.accordion').accordion({collapsible: true});

    // Update draw's password
    $('.change-password').click(function(){
        $('#id_password').val($('#draw-password').val());
    });

    // Setting up "Add to favourite" button
    $(this).find('#fav-loading').hide();
    $('#fav-button').click(function(){
        if ('{{ user.is_authenticated }}' == 'False'){
            alert("You need an account to save your favourite draws");
        } else{
            var draw_id = $(this).attr("data-id");
            if (draw_id == 'None'){
                alert("Click on the 'Toss' button to try the draw first");
            }else{
                var is_fav = ($(this).attr("data-active") == "y");
                $this = $(this);
                var $fav_image = $this.find('img');
                var $fav_loading = $this.find('#fav-loading');
                $fav_image.hide();
                $fav_loading.show();
                if(is_fav){
                    $.get('{% url 'ws_remove_favorite' %}', {draw_id: draw_id}, function(data){
                        $this.attr("data-active","n");
                        $this.find('img').attr("src","{% static "img/star-o.png" %}");
                        $fav_loading.hide();
                        $fav_image.show();
                    });
                } else {
                    $.get('{% url 'ws_add_favorite' %}', {draw_id: draw_id}, function(data){
                        $this.attr("data-active","y");
                        $this.find('img').attr("src","{% static "img/star.png" %}");
                        $fav_loading.hide();
                        $fav_image.show();
                   });
                }
            }
         }
    });

    {% if is_public  or bom.shared_type != "None" %}
        // Showing status of the public draw configuration
        $('.info-public-draw #choose').removeClass('focus');
        $('.info-public-draw #choose').addClass('done');
        $('.info-public-draw #configure').removeClass('done');
        $('.info-public-draw #configure').addClass('focus');

	    var shared_type_field = $('input[name=shared_type]');

    	//default is None, set to Public by default if it is a new public draw
        shared_type_field.attr('value','{{bom.shared_type}}');
        if(shared_type_field.attr('value') == 'None') {
            shared_type_field.attr('value','Public');
        }

        // Storing the level of restiction for the draw
	    $('#save').click(function () {
	        var mode = $('.slide-bar').attr('data-selected');
	        if (mode == "invited"){
				$('#id_password').val("");
				shared_type_field.attr('value','Invite');
	        }else if (mode == "password"){
	            var password = $('#draw-password').val();
	            $('#id_password').val(password);
	            shared_type_field.attr('value','Public');
	        }else{ // Everyone
	        	$('#id_password').val("");
				shared_type_field.attr('value','Public');
	        }
	    });

        // By default, divs for "Spread" step are hidden
        $('.step-spread').hide();

        // Setting up button "Next"
        $('#next').click(function() {
            $('.step-configure').hide();
            $('.step-spread').show();

            // Showing status of the public draw configuration
            $('.info-public-draw #configure').removeClass('focus');
            $('.info-public-draw #configure').addClass('done');
            $('.info-public-draw #spread').removeClass('done');
            $('.info-public-draw #spread').addClass('focus');
        });

        $('#public-draw-invite #emails').tokenfield({createTokensOnBlur:true, delimiter: ' ', minWidth: 100});
        $('.tt-input').tokenfield({createTokensOnBlur:true, delimiter: ' '});
    {% endif %}

    // Manages the slider to choose the level of restriction of the public draw
    SlideSelector.setup();
    {% block draw_extra_jq_ready %}{% endblock draw_extra_jq_ready %}

{% endblock extra_jq_ready %}
{% block content %}
    <div class="row">
        <form class="clearfix" method="post">
            <!-- Draw Heading -->
            <div class="clearfix draw-heading">
                <a href="{% url 'index' %}" class="back-arrow col-xs-2 col-sm-2 text-center">
                    <img src="{% static "img/back_arrow.png" %}"/>
                </a>
                <div class="col-xs-8 visible-xs"></div>
                {% if is_public or bom.shared_type != "None" %}
                    <div class="hidden-xs col-xs-2 col-sm-2 col-sm-push-8"></div>
                    <!--<a data-toggle="modal" href="#modal" class="add-password col-xs-2 col-sm-2 col-sm-push-8 text-center">
                        <i class="fa fa-unlock fa-3x"></i>
                    </a>-->
                {% else %}
	                    <a id="fav-button"
	                    {% if bom.pk in user.favourites %}
	                    data-active="y"
	                    {% else %}
	                    data-active="n"
	                    {% endif %}
	                    href="#" data-id="{{bom.pk}}" title="{%trans 'Add draw to favourites'%}" class="add-favourites col-xs-2 col-sm-2 col-sm-push-8 text-center ">
                            <span id="fav-loading" class="fa fa-spinner fa-pulse fa-2x"></span>
	                    {% if bom.pk in user.favourites %}
                            <img src="{% static "img/star.png" %}"/>
	                    {% else %}
                            <img src="{% static "img/star-o.png" %}"/>
	                    {% endif %}
	                    </a>
                {% endif %}
                <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                    <textarea name="title" class="form-control autogrow draw-title-area text-center" rows="1">{{ bom.title|default:bom.DEFAULT_TITLE }}</textarea>
                </div>
            </div>
            <!-- End Draw Heading -->

            {% if is_public %}
                <div class="step-spread">
                    <div class="public-draw-restriction col-xs-12 col-md-8 col-md-offset-2">
                        <div class="col-xs-6">
                            <p class="h4">Who can access your draw? </p>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a data-toggle="modal" href="#modal" class="add-password">
                                <i class="fa fa-unlock fa-2x"></i> Everyone

                            </a>

                        </div>
                        <div class="col-xs-12 form-group">
                            <input type="checkbox">
                            Shown in the list "Recently created". <!--(This will may help your friends to find your draw faster.)-->
                        </div>
                    </div>
                    <div id="public-draw-invite" class="col-xs-12 col-md-8 col-md-offset-2">
                        <p class="h4"> Invite people: </p>
                        <input type="text" id="emails" class="form-control" placeholder="Type the emails here...">
                    </div>

                </div>
            {% endif %}

            <div class="col-sm-8 col-sm-offset-2">
                {%block pre_draw %} {%endblock pre_draw%}
                <!-- Errors -->
                {%for err in errors %}
                    <div class="alert alert-danger text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{err}}
                    </div>
                {% endfor  %}
                <!-- Input Form -->
                {% block input_form %}
                    <div class="step-configure">
                        {% crispy draw draw.helper %}
                    </div>
                    <div class="col-xs-12 text-center">
                        <!-- Buttons for 'Toss' or 'Try it!' -->
                        {% if is_public %}
                            <div class="row btn-row step-configure">
                                <button type="submit" name="try" class="btn btn-success">{% trans 'Try it!' %}</button>
                            </div>
                        {% else %}
                            <div class="row btn-row">
                                <button type="submit" name="toss" class="btn btn-success"{%if not can_write%}disabled="disabled"{%endif%}>{% trans 'Toss' %}</button>
                            </div>
                            {%if not can_write and bom.owner%}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  {%trans 'Only the owner of the draw can toss. '%}[{{bom.owner}}]
                                </div>
                            {%endif%}
                        {% endif %}

                        <!-- Buttons for 'Next step' and 'Cancel' public draw creation -->
                        {% if is_public %}
                            <div class="col-sm-8 col-sm-offset-2 btn-row">
                                <a href="{% url 'index' %}" class="col-xs-6 btn btn-default">{% trans 'Cancel' %}</a>
                                <a id="next" name="next" class="col-xs-6 btn btn-primary step-configure">{% trans 'Next step' %}</a>
                                <button type="submit" name="next" class="col-xs-6 btn btn-primary step-spread">{% trans 'Publish it' %}</button>
                            </div>
                        {% endif %}
                    </div>
                {% endblock input_form %}
            </div>
            <input class="hidden" name="submit-type" />
        </form>
        <!-- End Input Form -->
        <!-- Results -->
        <div class="col-sm-8 col-sm-offset-2 step-configure">
            <div class="row text-center accordion">
            {% for result in bom.results reversed %}
            {% with result.items as results%}
                {% if results %}
                    <p class="h3">
                        {%trans 'Result' %}{{results|length|pluralize}}
                        <small class="visible-xs-inline">{{result.datetime|date:"d/m/y H:i:s"}}</small>
                        <small class="result-timestamp hidden-xs">{%trans ' generated on '%}{{result.datetime|date:"d M Y, H:i:s"}}</small>
                    </p>
                    <div >
                        {% block result %}{% endblock result %}

                    </div>
                {% endif %}
            {% endwith %}
            {% endfor %}
            <!-- Previous draw -->
            {% if bom.prev_draw %}
                <p class="h3">{%trans 'Result' %}{{results|length|pluralize}}<small>{%trans ' generated before '%}</small></p>
                <div >
                   {%trans 'The configuration of the draw was changed.'%}<br/>
                   {%trans 'This is the previous version: '%}<a href="{%url 'retrieve_draw' draw_id=bom.prev_draw %}">{{ bom.DEFAULT_TITLE }}</a>

                </div>
            {% endif %}
            </div>
            <!-- End Results -->
        </div>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" style="display: none;" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "Restict the access to your draw" %}</h4>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% trans "Who do you want to access the draw?" %}
                            <div class="col-sm-8 col-sm-offset-2 text-center">
                                <div id="restriction-headings">
                                    <div id="restriction-everyone" class="col-xs-3">{% trans "Everyone" %}</div>
                                    <div id="restriction-password" class="col-xs-6">{% trans "With password or invitation" %}</div>
                                    <div id="restriction-invited" class="col-xs-3">{% trans "Only with invitation" %}</div>
                                </div>
                                <div class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1 slide-bar-container">
                                    <div data-selected="everyone" class="slide-bar ui-widget-content">
                                        <div class="slider-tick" style="left: 0%"></div>
                                        <div class="slider-tick" style="left: 50%"></div>
                                        <div class="slider-tick" style="left: 100%"></div>
                                        <div class="slide-selector" ></div>
                                    </div>
                                </div>
                            </div>
                            <div id="restriction-extra" class="col-xs-12">
                                <div id="extra-everyone" class="col-xs-12">
                                    {% trans "Everyone will be able to access the draw." %}
                                    <div class="alert alert-info" role="alert">
                                        {% trans "Tip: Use this mode for informal and fast draws. Neither invitation nor password will be required!" %}
                                    </div>
                                </div>
                                <div id="extra-password" class="col-xs-12">
                                    {% trans "Only those who know the password will be able to access the draw." %}
                                    <div class="col-xs-12 input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input id="draw-password" type="password" class="form-control has-clear" name="password" placeholder="Password">
                                    </div>
                                    <div class="alert alert-info" role="alert">
                                        {% trans "Tip: You don't know exactly who is going to join the draw but still want some restriction? This is your draw!" %}
                                    </div>
                                </div>
                                <div id="extra-invited" class="col-xs-12">
                                    {% trans "You will be able to invite people by email when the draw is created." %}
                                    <div class="alert alert-info" role="alert">
                                        {% trans "Tip: Use this mode for small/medium groups where you know well who do you want to join the draw." %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            <button id="save" data-dismiss="modal" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>





{% endblock %}


