{% load crispy_forms_field %}
{% load i18n %}

{% if field.is_hidden %}
	{{ field }}
{% else %}
    {% with css_classes=field.field.widget.attrs.class %}
        {% if field|is_checkbox %}
            <div id="div_{{ field.auto_id }}" class="form-group clearfix">
        {% endif %}
        <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group clearfix{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors and field.errors %} has-error {% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
            {% if field.label and not field|is_checkbox and form_show_labels %}
                <label for="{{ field.id_for_label }}" class="control-label {% if 'eas-tokenfield' in css_classes %} col-sm-2 {% else %}{{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
                    {{ field.label|safe }}{% if not field.field.required %}<span class="optionalField">{% trans "(optional)" %}</span>{% endif %}
                </label>
            {% endif %}

            {% if field|is_checkboxselectmultiple %}
                {% include 'bootstrap3/layout/checkboxselectmultiple.html' %}
            {% endif %}

            {% if field|is_radioselect %}
                {% include 'bootstrap3/layout/radioselect.html' %}
            {% endif %}

            {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
                {% if field|is_checkbox and form_show_labels %}
                    {% if label_class %}
                        <div class="{{ label_class }}">
                            <span class="checkbox_label" for="{{ field.id_for_label }}">{{ field.label|safe }}</span>
                        </div>
                    {% endif %}
                    <div class="controls checkbox-div {{ field_class }}">
                        {% crispy_field field 'class' 'checkbox' %}
                        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                    </div>
                {% else %}
                    <div class="controls {% if 'eas-tokenfield' in css_classes %} col-sm-10 {% else %}{{ field_class }}{% endif %}">
                        {% crispy_field field %}
                        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                    </div>
                {% endif %}
            {% endif %}
        </{% if tag %}{{ tag }}{% else %}div{% endif %}>
        {% if field|is_checkbox %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
