{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'New Draw'  %} | {% endblock title %}
{#
    variables: draw_type, is_public, default_title
    add messages from user.messages (puedes meter aqui los info y no te hace falta draw_type)
    dinamically advance breadcrum
#}
{% block extra_head %}
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/favourites.js' %}"></script>
    {% if is_public %}
        <script src="{% static 'js/moment.js' %}"></script>
        <script src="{% static 'js/slideSelector.js' %}"></script>
        <link href="{% static 'css/slideSelector.css' %}" rel="stylesheet">
        <script src="{% static 'js/public_draw_creator.js' %}"></script>
    {% endif %}
    {% block draw_extra_head %}{% endblock draw_extra_head %}
{% endblock extra_head %}
{% block extra_jq_ready %}

    {% block draw_extra_jq_ready %}{% endblock draw_extra_jq_ready %}

    // When fields are focused, all the content is pre-selected
    $('.form-control').click(function() {
        $(this).select();
    });

    // Hide the "allow repeat" checkbox (since by default the number of results is 1)
    $('#div_id_allow_repeat').addClass('hidden');
    // Show/hide "allow repeat" option if the number of results is higher than 1)
    $('#id_number_of_results').bind('keyup change', function() {
        var number_of_results = $(this).val();
        var $allow_repeat = $('#div_id_allow_repeat');
        if (number_of_results > 1){
            $allow_repeat.removeClass('hidden');
        } else {
            $allow_repeat.addClass('hidden');
        }
    });

    // Autoresize the title box when window is resized
    autosize = function(){
        var max_width = $("#draw-title-container").width()*2/3;
        $("textarea.autogrow").width(max_width);
        $("textarea.autogrow").autoGrowInput({title:'{{ default_title }}',maxWidth: max_width,minWidth:30,comfortZone:30});
    };

    // Autosize the title box the first time
    autosize();
    $( window ).resize(function() {
        // Autosize when the window is resized
        autosize();
    });

    // Disable submit button after submitting
    $('form').submit(function() {
        $(this).find("button[type='submit']").prop('disabled',true);
        return true;
    });

    $('.accordion').accordion({collapsible: true});

    {% if is_public %}
        PublicDrawCreator.draw_type = "{{ draw_type }}"
        PublicDrawCreator.url_index = "{% url 'publish_draw' %}"; {# index to create a public draw #}
        PublicDrawCreator.url_try = "{% url 'try_draw' draw_type=draw.NAME_IN_URL %}";
        PublicDrawCreator.url_create_public_draw = "{% url 'create_public_draw' draw_type=draw.NAME_IN_URL %}";
        PublicDrawCreator.url_validate = "{% url 'ws_validate_draw' %}";
        PublicDrawCreator.setup();
    {% endif %}

    $('.eas-tokenfield').tokenfield({createTokensOnBlur:true});
{% endblock extra_jq_ready %}
{% block content %}
    {# breadcrumb to assist the creation of a public draw #}
    {% include "snippets/snippet_breadcrumb.html" %}
    <form id="draw-form" class="clearfix" method="post">
        <!-- Draw Heading -->
        <div class="clearfix draw-heading">
            <a href="{% url 'index' %}" class="back-arrow col-xs-2 col-sm-2 text-center">
                <img src="{% static "img/back_arrow.png" %}" alt="{% trans "Back" %}"/>
            </a>
            <div class="col-xs-8 visible-xs"></div>
            <div class="hidden-xs col-xs-2 col-sm-2 col-sm-push-8"></div>
            <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                <textarea name="title" class="form-control autogrow draw-title-area text-center" rows="1">{{ default_title }}</textarea>
            </div>
        </div>
        <!-- End Draw Heading -->

        {# Configure the fields of a draw (both private and public) #}
        <div class="step-configure col-sm-8 col-sm-offset-2">
            {%for err in messages.errors %}
                <!-- Errors -->
                <div class="alert alert-danger text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{err}}
                </div>
            {% endfor  %}
            <!-- Input Form -->
            {% crispy draw draw.helper %}
            <!-- End Input Form -->
        </div>

        {# Only shown when creating a public draw: select the privacy options #}
        {% if is_public %}
            <div class="step-spread hidden col-xs-12">
                <div class="public-draw-restriction col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-xs-6">
                        <p class="h4">{% trans "Who can access your draw?" %} </p>
                    </div>
                    <div id="privacy-level" class="col-xs-6 text-center">
                        <a data-toggle="modal" href="#access-level" class="access-level">
                            <span class="fa fa-unlock fa-2x"></span> <div id="public-mode-selected"> {% trans "Everyone" %} </div>
                        </a>
                    </div>
                    <div id="recently-created" class="col-xs-12 form-group">
                        <p data-toggle="tooltip" data-placement="top" title="{% trans "It will help your friends to find your draw faster" %}">
                            <input type="checkbox" name="show_in_public_list" checked>{% trans "Show the draw in the list 'Recently created'." %}
                        </p>
                    </div>
                </div>
                <div id="public-draw-invite" class="col-xs-12 col-md-8 col-md-offset-2">
                    <p class="h4"> {% trans "Invite people" %}: </p>
                        <p>{% trans "An invitation will arrive to the emails you introduce below" %}</p>
                        <input name="users" type="text" id="invite-emails" class="form-control" placeholder="{% trans "Type the emails here..." %}">
                    </p>
                </div>
            </div>
        {% endif %}

        {# Buttons for Try, Next step, Cancel, toss #}
        <div class="col-xs-12 text-center">
            {% if is_public %}
                {# Button to try a draw when creating a public one #}
                <div class="row btn-row step-configure">
                    <button type="submit" id="try" name="try" class="btn btn-success">{% trans 'Try it!' %}</button>
                </div>

                {# Buttons "Next Step" and "Cancel" shown when creating a public draw #}
                <div class="col-sm-8 col-sm-offset-2 btn-row">
                    <a href="{% url 'index' %}" class="col-xs-6 btn btn-default">{% trans 'Cancel' %}</a>
                    <a id="next" class="step-configure col-xs-6 btn btn-primary">{% trans 'Next step' %}</a>
                    <button id="publish" type="submit" class="step-spread col-xs-6 btn btn-primary hidden">{% trans 'Publish it' %}</button>
                </div>
            {% else %}
                {# Button to toss the draw (both private and public) #}
                <div class="row ">
                    <button id="toss" type="submit" name="toss" class="btn btn-success">{% trans 'Toss!' %}</button>
                </div>
            {% endif %}
        </div>
    </form>

    {# Hover panel to change the lever of restriction of the public draw #}
    {% if is_public %}
        <div id="confirmation-change-draw-type" title="Change the type of draw">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Any configuration you have set up will be lost</p>
        </div>

        <div id="access-level" class="modal fade" tabindex="-1" data-focus-on="input:first">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Restict the access to your draw" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% include "snippets/snippet_public_draw_privacy.html" %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Cancel" %}</button>
                        <button id="save-change-privacy" data-dismiss="modal" type="button" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </div>

        {# Show results, in case the user tries the configuration (through the button "Try") #}
        {% if bom.results %}
            <!-- Results -->
            <div class="step-configure col-sm-8 col-sm-offset-2">
                <div class="row text-center accordion">
                    {% for result in bom.results reversed %}
                    {% with result.items as results%}
                        {% if results %}
                            <p id="header-try-result" class="h3">
                                {%trans 'Result' %}{{results|length|pluralize}}
                            <div class="result">
                                {% include draw.TEMPLATE_PATH %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- End Results -->
    {% endif %}
{% endblock %}
