{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans 'New Draw'  %} | {% endblock title %}
{#
    variables: draw_type, is_public, default_title
    add messages from user.messages (puedes meter aqui los info y no te hace falta draw_type)
    dinamically advance breadcrum
#}
{% block extra_head %}
    <script src="{% static 'js/autoGrowArea.js' %}"></script>
    <script src="{% static 'js/favourites.js' %}"></script>
    {% if is_public %}
        <script src="{% static 'js/moment.js' %}"></script>
        <script src="{% static 'js/slideSelector.js' %}"></script>
        <link href="{% static 'css/slideSelector.css' %}" rel="stylesheet">
        <script src="{% static 'js/public_draw_manager.js' %}"></script>
        <script src="{% static 'js/chat.js' %}"></script>
        <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
    {% endif %}
    {% block draw_extra_head %}{% endblock draw_extra_head %}
{% endblock extra_head %}
{% block extra_jq_ready %}

    {% block draw_extra_jq_ready %}{% endblock draw_extra_jq_ready %}

    // When fields are focused, all the content is pre-selected
    $('.form-control').click(function() {
        var attr = $(this).hasClass('protected');
    console.log(attr);
        if (typeof attr === typeof undefined || attr === false) {
            $(this).select();
        }
    });

    // Autoresize the title box when window is resized
    autosize = function(){
        var max_width = $("#draw-title-container").width()*2/3;
        $("textarea.autogrow").width(max_width);
        $("textarea.autogrow").autoGrowInput({title:'{{ default_title }}',maxWidth: max_width,minWidth:30,comfortZone:30});
    };

    // Autosize the title box the first time
    autosize();
    $( window ).resize(function() {
        // Autosize when the window is resized
        autosize();
    });

    // Disable submit button after submitting
    $('form').submit(function() {
        $(this).find("button[type='submit']").prop('disabled',true);
        return true;
    });

    $('.accordion').accordion({collapsible: true});

    {% if is_public %}
        PublicDraw.url_draw_privacy = "{% url 'ws_public_draw_privacy' %}";
        PublicDraw.url_invite_users = "{% url 'ws_add_users_to_draw' %}";
        PublicDraw.setup("{{ public_draw_step }}");
    {% endif %}
{% endblock extra_jq_ready %}
{% block content %}
    {# breadcrumb to assist the creation of a public draw #}
    {% include "snippets/snippet_breadcrumb.html" %}
    <form class="clearfix" method="post">
        <!-- Draw Heading -->
        <div class="clearfix draw-heading">
            <a href="{% url 'index' %}" class="back-arrow col-xs-2 col-sm-2 text-center">
                <img src="{% static "img/back_arrow.png" %}"/>
            </a>
            <div class="col-xs-8 visible-xs"></div>
            <div class="hidden-xs col-xs-2 col-sm-2 col-sm-push-8"></div>
            <div id="draw-title-container" class="col-xs-12 col-sm-8 col-sm-pull-2 text-center">
                <textarea name="title" class="form-control autogrow draw-title-area text-center" rows="1">{{ default_title }}</textarea>
            </div>
        </div>
        <!-- End Draw Heading -->
        <div class="col-sm-8 col-sm-offset-2">
                {% if draw_type == "LinksSetsDraw" %}
                    <div class='alert alert-info' role='alert'>{%trans 'Separate items by commas. e.g: David S, Maria, Leo, ...'%}</div>
                {% endif %}
            <!-- Errors -->
            {%for err in errors %}
                <div class="alert alert-danger text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{err}}
                </div>
            {% endfor  %}
            <!-- Input Form -->
            {% if draw_type == "CoinDraw" %}
                {% crispy draw draw.helper %}
                <div class="text-center">
                    <input type="image" id="img-coin" src="{% static "img/img_coin/head.png" %}" name="coin">
                    <p>{% trans "Tap the coin to flip it." %}</p>
                    {% if result %}
                        <script>
                            coin.flip("{{ result.0.0 }}");
                        </script>
                    {% endif %}
                </div>
            {% else %}
                {% crispy draw draw.helper %}
            {% endif %}

            <div class="col-xs-12 text-center">
                <div class="row btn-row">
                    <!-- Button to directly toss the private draw -->
                    <button id="toss" type="submit" name="toss" class="btn btn-success">{% trans 'Toss!' %}</button>
                </div>
            </div>
        </div>
    </form>
    <!-- End Input Form -->
{% endblock %}
