{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block content %}
    <div class="row">
        {% if not bom.is_shared  %}
            <div class="alert alert-danger" role="alert">{% trans 'The draw is private, you cannot access it.' %}</div>
        {% elif bom.password %}
            <div class="alert alert-info" role="alert">{% trans 'Password required to access the draw.' %}</div>
            <form action="{% url 'retrieve_draw' draw_id=bom.pk %}" method="get">
                <div class="controls col-xs-8">
                    <input class="form-control" type="password" name="password"  placeholder="{% trans "Draw Password" %}">
                </div>
            </form>
        {% elif user.is_anonymous %}
            <div class="alert alert-info" role="alert">{% trans 'You need to log in to be able to access this draw.' %}</div>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">{% trans "Log in" %}</button></a>
            <a href="{% url 'register' %}"><button type="button" class="btn btn-primary">{% trans "Sign up" %}</button></a>
        {% else %}
            <div class="alert alert-info" role="alert">{% trans 'Only the owner of the draw can grant access to it:' %} {{ bom.owner }} </div>
        {% endif %}
    </div>
{% endblock %}
