#chat-board
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#chat-board li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

#chat-board .chatline-content {
    margin-left: 40px;
    margin-right: 40px;
    color: #777777;
}


#chat-board .chatline-details{
    margin-bottom: 0;
}


#chat-board .chatline-datetime {
    margin-left: 10px;
    display: none;
}

#chat-board li:hover .chatline-datetime{
    display: inline-block;

}

.panel-heading {
    cursor:pointer;
}

.panel-body
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 250px;
}

.chat-outside .panel-body
{
    height: 400px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.chat-disabled {
    display: none;
}

@media screen and (min-width: 1440px) {
    .chat-inline {
        display: none;
    }
}
@media screen and (max-width: 1440px) {
    .chat-outside {
        display: none;
    }
}
