html {
    height: 100%;
}
body {
    background-color: #f5f5f5;
    margin:0;
	padding:0;
    height: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

/* ---------------- FOOTER --------------------- */
#footer {
	width:100%;
    padding: 12px 0 25px;
	position:absolute;
	bottom:0;
	left:0;
    font-size: 14px;
    color: #D3D3D3;
    text-align: center;
}
#footer:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
	background: #888888;
    opacity: 0.5;
}

#footer a {
    color: #D3D3D3;
}

#change-language-link {
    padding-left: 13px;
    padding-right: 13px;
}

#language-dropdown a{
    color: #6F6F6F;
}

#language-dropdown a.selected{
    color: #000000;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}



body.background {
    background-image: url('../img/background/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -moz-transition: background 1s linear 0s;
    -webkit-transition: background 1s linear 0s;
    -o-transition: background 1s linear 0s;
    -ms-transition: background 1s linear 0s;
    transition: background 1s linear 0s
}

h1,
.h1 {
    font-size: 30px;
}

h2,
.h2 {
    font-size: 24px;
}

div.alert {
    margin-top: 10px;
}

/* Used to leave an empty region on the top of the screen - Only is used in some screen sizes */
.padding-top-big {
    color: #b9b9b9;
    margin-top: 70px;
    margin-bottom: 50px;
}

.padding-top-medium {
  margin-top: 50px;
}

.padding-top-small {
  margin-top: 15px;
}


/* ---------------- HEADING --------------------- */
    @media screen and (max-width: 768px) {
        .side-collapse-container{
            width:100%;
            position:relative;
            left:0;
            transition:left .4s;
        }
        .side-collapse-container.out{
            left:200px;
        }
        .side-collapse {
            background-color: #E5E5E5 !important;
            white-space: nowrap;  /* One line text */
            top:62px;
            right:16px;
            width:200px;
            position:fixed;
            overflow:hidden;
            transition:width .4s;
        }
        .side-collapse.in {
            width:0;
        }

        .navbar-collapse {
            margin: 2px;
            background-color: white;
        }
      }

.side-collapse .nav-divider {
    margin: 0 0 0;
}

ul.nav.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}


/* To avoid the separation with the favourites panel */
.navbar-brand{
    padding: 5px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    /*height: 50px;
    width: auto;*/
}

.navbar-toggle {

}

.navbar-header {
    margin-left: 0;
}

.navbar-default {
    padding: 4px 15px 4px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    z-index: 1030;
    border: 5px #e9e9e9 solid;
}
.navbar-default:before {
  border: 1px solid #d6d6d6;
}

.navbar-default .navbar-nav > li > a {
    color: #3f3f3f;
    line-height: 30px;
    font-size: 14px;
}
.navbar-default:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
	background: #fcfcfc;
    opacity: 0.8;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-picture {
    padding: 10px 0 0 15px;
}

.forgot-password {
    font-size: 12px;
}

.register-now {
    padding-top: 10px;
    font-size: 12px;
}

.icon-size
{
    font-size: 87px;
}

/* ---------------- favourites --------------------- */
#favourites-panel {
    background-color: #f5f5f5;
    border-bottom: 1px #E7E7E7 solid;
}

/* ---------------- BODY --------------------- */
#site-frame {
    margin-top: 10px;
    margin-bottom:100px;
    padding: 10px 15px 10px 15px;
    color: #3f3f3f;
    border: 5px #e9e9e9 solid;
}
#site-frame:before {
    border: 1px solid #d6d6d6;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    opacity: 0.5;
    background: url('../img/background_pattern.png');

}

/***** PUBLIC DRAW *****/
.breadcrumb-public-draw {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    height: 80px;
    background-color: #F0F8F1;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 0 0 0 0;
    border-bottom: 1px #E7E7E7 solid;
}



.breadcrumb-public-draw .cancel {
    flex: 0 0 40px;
    color: #6f6f6f;
}

.breadcrumb-public-draw .help-text {
    text-align: center;
    flex: auto;
}

.breadcrumb-public-draw .title {
    margin-top: 10px;
    padding-bottom:5px;
    font-size: 20px;
    color: #4cae4c;
    border-bottom: 2px #c8e7ca solid;
}

.breadcrumb-public-draw .subtitle {
    margin: 10px 0 10px;
    font-size: 16px;
    color: #979797;
}

.breadcrumb-public-draw .subtitle.focus {
    font-size: 17px;
    font-weight: bold;
    color: #4cae4c;
}

.breadcrumb-public-draw .subtitle.done {
    font-weight: bold;
}





/* ---------------- ABOUT PAGE --------------------- */
.team-member {
    margin-bottom: 10px;
}

.team-member img{
    width: 150px;height:150px;
}

.team-member hr {
    margin: 8px 0 8px 0;
}



/* ------------ Datatables (To show public draws and history) -----------------------*/
.dataTables_wrapper tr td:first-child {
    border-left: 1px solid #AAAAAA ;
}

.dataTables_wrapper tr td:last-child {
    border-right: 1px solid #AAAAAA ;
}

span.DataTables_sort_icon {
    display: none;
}

.dataTables_wrapper .ui-toolbar {
    padding: 8px;
    background: #cccccc url('images/ui-bg_highlight-soft_75_d5e6cd_1x100.png') 50% 50% repeat-x;
}

.dataTables_wrapper .dataTables_paginate .fg-button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #b7cc9b url("http://download.jqueryui.com/themeroller/images/ui-bg_glass_75_b7cc9b_1x400.png") 50% 100% repeat-x;
}

.dataTables_wrapper .dataTables_paginate .fg-button.ui-state-disabled {
	opacity: 1;
	filter:Alpha(Opacity=100); /* support: IE8 */
	background: #b7cc9b url("http://download.jqueryui.com/themeroller/images/ui-bg_glass_75_b7cc9b_1x400.png") 50% 50% repeat-x !important;
}

.dataTables_wrapper .dataTables_info {
    font-weight: normal;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 4px 10px;
    background-color: #e2f3e2 !important;
    border: 1px solid #AAAAAA ;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #AAAAAA ;
}


.dataTables_wrapper .previous.ui-state-disabled {
    display: none !important;
}

.ui-corner-tl {
	border-top-left-radius: 2px;
}

.ui-corner-tr {
	border-top-right-radius: 2px;
}
table.draw-list tr{
    cursor: pointer;
}

.dataTables_filter {
    width: 250px;
}



.dataTables_length select {
    width: 50px;
}

.dataTables_length #entry-label {
    left: 100px;
}

a#back-old-version {
    background-image: url('../img/back_to_old_version/corner_old_version.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 150px;
    height: 200px;
    left: 0;
    top: 0;
}

a#back-old-version:hover {
    background-image: url('../img/back_to_old_version/corner_old_version_hover.png');
}

