html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    margin:0;
	padding:0;
    height: 100%;
}

body.background {
    background-image: url('../img/background/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -moz-transition: background 1s linear 0s;
    -webkit-transition: background 1s linear 0s;
    -o-transition: background 1s linear 0s;
    -ms-transition: background 1s linear 0s;
    transition: background 1s linear 0s
}

h1,
.h1 {
    font-size: 30px;
}

h2,
.h2 {
    font-size: 24px;
}

#wrapper {
	min-height:100%;
	position:relative;
}

@media (max-width: 500px) {
    #site-frame {
        margin-left: -10px;
        margin-right: -10px;
    }
}

#site-frame {
    margin-top: 10px;
    margin-bottom:100px;
    padding: 0 15px 10px 15px;
    color: #3f3f3f;
    border: 5px #e9e9e9 solid;
    transition:all .7s;
}

#site-frame.shared-draw {
    border: 5px #7FC6A6 solid;
    transition:all .7s;
}

#site-frame:before {
    border: 1px solid #d6d6d6;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    opacity: 0.5;
    background: url('../img/background_pattern.png');

}

@media (min-width: 768px) and (max-width: 991px) { /* sm */
    #site-frame {
        margin-top: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { /* md */
    #site-frame {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) { /* lg */
    #site-frame {
        margin-top: 70px;
    }
}

/* =======================  HOME  ======================= */
/* Remove the underling when the draws are hovered */
.draw-link:hover {
    text-decoration: none;
}

.draw-box-title {
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #6f6f6f;
        flex: auto;
}

/* Added green color effect when draws are hovered */
.draw-link:hover .draw-box-title{
    color: #449D44;
}

/* Container for the links to each draw */
.draw-box {
    min-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px 0 5px;
    background-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 8px;
    border: 1px #d6d6d6 solid;

    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
    -webkit-align-items: center;
   align-items: center;
    box-shadow: 5px 5px 5px #888888;
}

.draw-box img {
    height: 34px;
    width: 34px;
}

.fa-question{
    padding-top: 0;
    margin: -34px -10px 0 2px;
    display: none !important;
    visibility: hidden;
}

@media (min-width: 992px) {
    .draw-box img {
        margin-top: 3px;
        margin-bottom: 3px;
        height: 50px;
        width: auto;
    }
    .draw-link:hover .fa-question{
        padding-top: 0;
        margin: -34px -10px 0 2px;
        display: block !important;
        visibility: visible;
    }

    .draw-link:hover .draw-box {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+90,e8edef+92,f7f8f9+99,f7f8f9+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 90%, #e8edef 92%, #f7f8f9 99%, #f7f8f9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(90%,#ffffff), color-stop(92%,#e8edef), color-stop(99%,#f7f8f9), color-stop(100%,#f7f8f9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 90%,#e8edef 92%,#f7f8f9 99%,#f7f8f9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #ffffff 0%,#ffffff 90%,#e8edef 92%,#f7f8f9 99%,#f7f8f9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #ffffff 0%,#ffffff 90%,#e8edef 92%,#f7f8f9 99%,#f7f8f9 100%); /* IE10+ */
        background: linear-gradient(135deg,  #ffffff 0%,#ffffff 90%,#e8edef 92%,#f7f8f9 99%,#f7f8f9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f8f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

#sentences {
    margin-top: 30px;
}

#sentences p {
    font-family: 'gloria_hallelujahregular', cursive;
    -webkit-transform: rotate(347deg);
    -moz-transform: rotate(347deg);
    -o-transform: rotate(347deg);
    writing-mode: lr-tb;
}

#sentences img {
    max-width: 100px;
    max-height: 100px;
}

.container-draws {
    margin-top: 10px;
}

/* ================  SUGGESTION BOX  ================= */
#suggestion-box {
    width: 210px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: -150px;
}

#suggestion-box-text {
    padding-top: 5px;
    color: #fff;
    width: 150px;
    height: 100px;
    background: rgba(153, 153, 153, 0.51);
    border-bottom-right-radius: 3px;
}

#suggestion-box-text p {
    margin-bottom: 20px;
}

#suggestion-box-text > span {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

#suggestion-box a:hover {
    text-decoration: none;
}

#suggestion-box-icon {
    position: absolute;
    top: 0;
    right: 0;

    padding: 15px 10px 15px 0;
    background: rgba(153, 153, 153, 0.51);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

#suggestion-box img{
    width: 50px;
}

#suggestion-email-form {
    margin-top: 15px;
}

/** social box **/
#social-box {
    background: rgba(153, 153, 153, 0.51);
    padding: 15px 10px 15px 0;
    width: 60px;
    height: 90px;
    position: absolute;
    top: 200px;
    left: 0px;
}

/* =================== HEADING =================== */
@media screen and (max-width: 767px) {
    #brand {
        width: 216px;
        height: auto;
    }

    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        background-color: #E5E5E5 !important;
        white-space: nowrap;  /* One line text */
        top:65px;
        right:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }

    .navbar-collapse {
        margin: 2px;
        background-color: white;
    }
  }

.side-collapse .nav-divider {
    margin: 0 0 0;
}

.navbar-nav > .open > a {
    background: rgba(194, 194, 194, 0.3) !important;
}

ul.nav.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand{
    padding: 0;
}

.navbar-toggle {
    margin-right: 0;
}

.navbar-header {
    margin-left: 0;
}

.navbar-default {
    padding: 4px 15px 4px 15px;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    z-index: 1030;
    border: 5px #e9e9e9 solid;
}
.navbar-default:before {
  border: 1px solid #d6d6d6;
}

.navbar-default:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
	background: #fcfcfc;
    opacity: 0.8;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-picture {
    padding: 10px 0 0 15px;
}

#login-dropdown .forgot-password {
    font-size: 12px;
}

.register-now {
    padding-top: 10px;
    font-size: 12px;
}

/* =================== FOOTER =================== */
#footer {
	width:100%;
    padding: 12px 0 25px;
	position:absolute;
	bottom:0;
	left:0;
    font-size: 14px;
    color: #D3D3D3;
    text-align: center;
    background: rgb(136, 136, 136);
    background: rgba(136, 136, 136, 0.5);
}

#footer a{
    color: #D3D3D3;
}

#change-language-link {
    padding-left: 13px;
    padding-right: 13px;
}

#language-dropdown a{
    color: #6F6F6F;
}

#language-dropdown a.selected{
    color: #000000;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

/* Language select in XS sizes */
#language-selector {
    color: #6F6F6F;
}

div.alert {
    margin-top: 10px;
}

/* ===================  FAVOURITES  =================== */
    #favourites-panel {
        margin-bottom: 10px;
        border-bottom: 1px #E7E7E7 solid;
        background-color: #f9f9f9;
        background-color: rgba(255, 255, 255, 0.46);
    }

    #favourites-panel a{
        color: #666666;
    }

    #favourites-panel a:hover{
        color: #3c703c;
    }

    #close-favourites {
        padding-top: 15px;
        cursor: pointer;
    }


/* ===================  PUBLIC DRAW  =================== */
#public-draw-dropdown .dropdown-menu a{
      padding: 7px 10px;
}

#public-draw-dropdown .dropdown-menu .nav-divider {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* ===================  ABOUT PAGE  =================== */
.team-member {
    margin-bottom: 10px;
}

.team-member img{
    width: 150px;height:150px;
}

.team-member hr {
    margin: 8px 0 8px 0;
}

/* ===================  DATATABLES (To show public draws and history)  =================== */
.dataTables_wrapper {
    margin-bottom: 15px;
}

.dataTables_wrapper tr td:first-child {
    border-left: 1px solid #AAAAAA ;
}

.dataTables_wrapper tr td:last-child {
    border-right: 1px solid #AAAAAA ;
}

span.DataTables_sort_icon {
    display: none;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0 !important;
}

.dataTables_wrapper .ui-toolbar {
    padding: 8px;
    background: #EBF2E1 url('images/ui-bg_highlight-soft_75_d5e6cd_1x100.png') 50% 50% repeat-x;
}

.dataTables_wrapper .dataTables_paginate .fg-button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #b7cc9b url("images/ui-bg_glass_75_b7cc9b_1x400.png") 50% 100% repeat-x;
}

.dataTables_wrapper .dataTables_paginate .fg-button.ui-state-disabled {
	opacity: 1;
	filter:Alpha(Opacity=100); /* support: IE8 */
	background: #b7cc9b url("images/ui-bg_glass_75_b7cc9b_1x400.png") 50% 50% repeat-x !important;
}

.dataTables_wrapper .dataTables_info {
    font-weight: normal;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 4px 10px;
    background-color: #e2f3e2 !important;
    border: 1px solid #AAAAAA ;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #AAAAAA ;
}


.dataTables_wrapper .previous.ui-state-disabled {
    display: none !important;
}

@media screen and (max-width: 500px) {
    #my-draws_wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.ui-corner-tl {
	border-top-left-radius: 2px;
}

.ui-corner-tr {
	border-top-right-radius: 2px;
}
table.draw-list tr{
    cursor: pointer;
}

.dataTables_filter {
    width: 250px;
}

.dataTables_length select {
    width: 50px;
}

.dataTables_length #entry-label {
    left: 100px;
}

@media screen and (max-width: 1300px) {
    .lateral-column {
        display: none;
    }
}

a#back-old-version {
    background-image: url('../img/back_to_old_version/corner_old_version.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 150px;
    height: 200px;
    left: 0;
    top: 0;
}

a#back-old-version:hover {
    background-image: url('../img/back_to_old_version/corner_old_version_hover.png');
}

/* ===================  Edit Profile  =================== */
#user-settings {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    margin-bottom: 50px;
}

#user-settings .ui-icon {
    display: none;
}

#user-settings .ui-accordion-header {
    padding: 8px 10px 8px 10px;
}

/* Remove outline on active elements for Chrome */
#user-settings .ui-accordion-header:focus {
    text-decoration:none;
}
#user-settings .ui-accordion-header:focus,
#user-settings .ui-accordion-header:active:focus {
    outline:none;
}

#user-settings .ui-state-default {
    background: rgba(255, 255, 255, 0.2) none;
    border: 0 solid rgb(233, 234, 237);
    border-top-width: 1px;
    border-radius: 0;
    margin-top: 0 !important;
}

#user-settings .ui-state-active,
#user-settings .ui-state-hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.user-settings-content {
    color: rgb(87, 87, 95);
    left: 170px;
    position: absolute;
}

@media screen and (max-width: 430px) {
    .user-settings-content {
        width: 130px;
        left: 130px;
        white-space: nowrap;
        overflow:hidden;
    }
}

@media screen and (max-width: 380px) {
    .user-settings-content {
        display: none;
    }
}

.user-settings-label {
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding: 3px 0 0 0;
}

.user-settings-edit {
    color: rgb(59, 89, 152);
}

.ui-state-active .user-settings-content,
.ui-state-active .user-settings-edit {
    visibility: hidden;
}

.user-settings-edit .fa {
    display: none;
}

.ui-state-hover .user-settings-edit .fa {
    display: inline-block;
}

#user-settings .panel {
    background: rgba(255, 255, 255, 0.4) none;
    border-radius: 0;
    border-color: transparent;
}

#user-settings .panel label {
    padding-right: 0;
}
#user-settings .panel .has-error label {
    color: #a94442;
    font-weight: bold;
}
#user-settings .panel .has-error input {
    border-color: #a94442;
}

#user-settings .has-error .control-label {
    padding-right: 0;
    line-height: 22px;
}

#user-settings .panel li{
    list-style-type: none;
    margin-bottom: 8px;
}

#user-settings .info-error {
    text-align: left;
    color: #a94442;
}

.btn-settings {
    margin: 15px 1px 3px 0;
    padding: 3px 6px 3px 6px;
    font-size: 11px !important;
}

#info-change-user-email {
    margin-top: 10px !important;
    color: rgb(87, 87, 95);
}

#info-change-user-email a {
    color: rgb(59, 89, 152);
}

#change-email-password {
}

#btn-upload-image {
    margin-top: 30px;
}

#avatar-preview {
    width: 98px;
    height: 98px;
}

#div-avatar-preview {
    border: 1px #3c3c3c solid;
    width: 100px;
    height: 100px;
    padding: 0;
}
.back-arrow {
    padding: 10px 0 0 0;
}

/* ================  LOGIN PAGE  ==================  */
#login-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

#register-button {
    margin-top: 20px;
}

.alert-login {
    margin-top: 10px;
    margin-bottom: 0;
}

/* Separator line with text
   Something like: "----------  SOME TEXT  -----------" */
.text-separator {
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-separator span {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.text-separator span:before,
.text-separator span:after {
    background: #b7b7b7;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}
.text-separator span:before {
  right: 100%;
}
.text-separator span:after {
  left: 100%;
}

/* Workaround to disable links */
a[disabled] {
    pointer-events: none !important;
    color: gray;
}

button.disabled {
    pointer-events: none !important;
}

#create-account {
    margin-top: 15px;
}

#create-account a {
    font-weight: bold;
}

#switch-draw-mode {
    padding-top: 10px;
    padding-bottom: 15px;
}

/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* Supported values are px, rem-calc, em-calc */
/* Functions */
/* Toggle Switches */
/* Shared */
/* Checkbox
*/
/* Radio Switch
*/
/* Hide by default
*/
.switch-toggle a, .switch-light span span {
  display: none; }

/* We can't test for a specific feature,
* so we only target browsers with support for media queries.
*/
@media only screen {
    /* Checkbox switch
    */
    .switch-light {
        width: 100%;
        display: inline-table;

        height: 26px;
        /* Outline the toggles when the inputs are focused
      */
        position: relative;
        overflow: visible;
        padding: 0;
        /* Position the label over all the elements, except the slide-button (<a>)
      * Clicking anywhere on the label will change the switch-state
      */
        /* Don't hide the input from screen-readers and keyboard access
      */
    }

    .switch-light * {
        box-sizing: border-box;
    }

    .switch-light a {
        display: block;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .switch-light label, .switch-light > span {
        line-height: 1.875em;
        vertical-align: middle;
    }

    .switch-light input:focus ~ a, .switch-light input:focus + label {
        outline: 1px dotted #888;
    }

    .switch-light label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }

    .switch-light input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

    .switch-light input:checked ~ a {
        right: 0%;
    }

    .switch-light > span {
        position: absolute;
        left: -6.25em;
        width: 100%;
        margin: 0;
        padding-right: 6.25em;
        text-align: left;
    }

    .switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 6.25em;
        text-align: center;
    }

    .switch-light > span span:last-child {
        left: 50%;
    }

    .switch-light a {
        position: absolute;
        right: 50%;
        top: 0;
        z-index: 4;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    /* Standalone Themes */
    /* Candy Theme
    * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
    * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
    */
    .switch-candy {
        background-color: #818d8e;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px #191b1e;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
    }

    .switch-candy label {
        color: #fff;
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
    }

    .switch-candy input:checked + label {
        color: #333;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .switch-candy a {
        border: 1px solid #333;
        background-color: #6cc39c;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    }

    .switch-candy > span {
        color: #333;
        text-shadow: none;
    }

    .switch-candy span {
        color: #fff;
    }

    .switch-candy.switch-candy-blue a {
        background-color: #38a3d4;
    }

    .switch-candy.switch-candy-yellow a {
        background-color: #f5e560;
    }
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
* http://css-tricks.com/webkit-sibling-bug/
*/
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light, .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; } }

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0); }

  to {
    -webkit-transform: translate3d(0, 0, 0); } }


/*
* Registration page
*/

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-top: 30px;
}
.panel-login {
	color: #4C4C4C;
}
.panel-login>.panel-heading {
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
#registration-success>.panel-body {
    padding-top: 0;
}
#registration-success>.panel-body>img {
    margin-bottom: 10px;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

@media (min-width: 992px) {
    #benefits-register  {
        margin-top: 90px;
    }
}

#benefits-register div.h3{
    margin-bottom: 15px;
}

#benefits-register ul{
    padding-left: 20px;
}

#benefits-register li{
    margin-top: 7px;
    list-style: none;
}

#benefits-register .fa-check {
    margin-right: 6px;
}

#register-now {
    font-size: 16px;
}

#registration-success img {
    width: 200px;
    height: auto;
}

#registration-success #subtitle {
    margin-bottom: 20px;
}
