/***** DRAW HEADER *****/
.draw-heading .draw-editable-title {
    background: transparent;
    border: none;
}

.draw-heading .draw-editable-title:focus {
    outline-color: #4cae4c;
}

.draw-heading .draw-title-area {
    /* Font */
    font-family: 'robotoregular', sans-serif;
    color: #6f6f6f;
    font-size: 28px;

    /* Removing textarea look */
    border: none;
    overflow: hidden;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;


    /* To center it */
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto !important;
}

.draw-heading .draw-title-area:focus {
  border-color: #4cae4c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 174, 76, 0.60);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 174, 76, 0.60);
}


.info-public-draw {
    /*height: 36px;*/
    padding: 0px;
    line-height: 33px;
}

.info-public-draw-text {
    vertical-align: middle;
    display: inline-block;
}

.draw-heading .back-arrow,
.draw-heading .add-favorites {
    padding: 5px;
}

.draw-heading .back-arrow img,
.draw-heading .add-favorites img {
    /*display: block;*/
    min-width: 30px;
    max-width: 100%;
    height: auto;
}

.draw-heading .add-password {
    color: #6F6F6F;
}

.draw-heading .add-password:hover {
    color: #404b6f;
}

/***** INDIVIDUAL DRAWS *****/
/* Makes the text be inline with the checkbox */
.checkbox_label {
   line-height: 26px;
}

.btn-toss {
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Place the labels closer to the input boxes */
.control-label {
    padding-right: 5px;
}

/* Place the input boxes closer to the labels */
.controls {
    padding-left: 5px;
}

/* Padding for the checkbox "allow repeat" in draws */
.allow-repeat {
    padding-top: 3px;
    padding-left: 25px;
}


/* Add minimim size to the input boxes */
#id_type_of_deck {
    max-width: 130px;
}

#id_number_of_results {
    max-width: 75px;
}

#id_range_max {
    max-width: 75px;
}
#id_range_min {
    max-width: 75px;
}

/* Container for the card images in CardDraw */
.card-container {
    margin-bottom: 10px;
    text-align: center;
    height: 95px;
}

/* Images for CardDraw */
.card-container img {
    height: 100%;
    width: auto;
}



