.draw-link:hover {
    text-decoration: none;
}

.draw-box {
    min-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    background-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #6f6f6f;
    border: 1px #d6d6d6 solid;
    font-family: 'Roboto', sans-serif;

    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
    -webkit-align-items: center;
   align-items: center;

}
.draw-box img {
    height: auto;
    width: 100%;
}

.draw-box .draw-label {
    flex: auto;
}

.draw-box .draw-img {
    flex: 0 0 34px;
}

/* md */
@media (min-width: 992px) {

    .draw-box .draw-img {
        flex: 0 0 56px;
    }

}
