body {
    background-color: #f5f5f5;
    color: #6f6f6f;
}

/* Used to leave an empty region on the top of the screen - Only is used in some screen sizes */
.padding-top-big {
  margin-top: 130px;
}

.padding-top-medium {
  margin-top: 50px;
}

.padding-top-small {
  margin-top: 15px;
}


/* ---------------- HEADING --------------------- */
#cssmenu a {
    font-family: Arial, sans-serif;
}

.navbar-brand{
    padding: 5px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    /*height: 50px;
    width: auto;*/
}

.navbar-header {
    padding-right: 0px;
}

.navbar-default {
    background-color: #ffffff;
    border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
    line-height: 30px;
    font-size: 14.4px;
}


/* ---------------- BODY --------------------- */
.content {
    margin-top: 10px;
  background: url('../img/background_pattern.png');
  border: 1px #d6d6d6 solid;
  outline: 5px #e9e9e9 solid;
}


/* ---------------- FOOTER --------------------- */
.footer {
    font-size: 12px;
    line-height: 40px;
    color: #999;
    text-align: center;
    margin-top: 20px;
    border-top: 1px #b7b7b7 solid;
    background-color: #f5f5f5;
}

.footer a {
    color: #999;
}

.footer .language a{
    color: #06D;
}