
#login-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

#register-button {
    margin-top: 20px;
}

.alert-login {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Linea horizontal tipo ------------  blabla  ------------ */
.line-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-separator span{
    color: #b7b7b7;
    text-decoration: line-through;
}