
.container-draws {
    padding-top: 10px;
}

/* Removing the underling when the draws are hovered */
.draw-link:hover {
    text-decoration: none;
}


.draw-box-title {
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #6f6f6f;
}

/* Added green color effect when draws are hovered */
.draw-link:hover .draw-box-title{
    color: #449D44;
}

/* Container for the links to each draw */
.draw-box {
    min-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    background-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 8px;
    border: 1px #d6d6d6 solid;

    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
    -webkit-align-items: center;
   align-items: center;

}

.draw-box2 {
    -webkit-align-items: flex-start;
   align-items: flex-start;

}

.draw-box img {
    height: auto;
    width: 100%;
}

.draw-box .draw-label {
    flex: auto;
}

.draw-box .draw-img {
    flex: 0 0 34px;
    max-width: 34px;
    height: auto;
}

/* The draw boxes are bigger in MD and LG */
@media (min-width: 992px) {

    .draw-box {
        min-height: 36px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 5px;
        background-color: #fff;
        -moz-border-radius: 15px;
        border-radius: 8px;
        border: 1px #d6d6d6 solid;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        max-height: 58px;

}

.draw-box-title {
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #6f6f6f;
    padding-top: 15px;
}

.no-padding {
    padding-top: 0px;
}

    .draw-box .draw-img {
        flex: 0 0 56px;
        max-width: 56px;
        height: auto;
    }

}

.draw-box-subtitle {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #bcbcbc;
    display: none;
}
