@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Removing the underling when the draws are hovered */
.draw-link:hover {
    text-decoration: none;
}

/* Added green color effect when draws are hovered */
.draw-link:hover .draw-box-title{
    color: #449D44;
}

/* Container for the links to each draw */
.draw-box {
    min-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    background-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #6f6f6f;
    border: 1px #d6d6d6 solid;
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;

    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
    -webkit-align-items: center;
   align-items: center;

}

.draw-box img {
    height: auto;
    width: 100%;
}

.draw-box .draw-label {
    flex: auto;
}

.draw-box .draw-img {
    flex: 0 0 34px;
}

/* The draw boxes are bigger in MD and LG */
@media (min-width: 992px) {

    .draw-box .draw-img {
        flex: 0 0 56px;
    }

}

.draw-box-subtitle {
    font-style: italic;
    font-size: 11px;
    color: #bcbcbc;
    display: none;
}
