body {
    background-color: #f5f5f5;
    color: #6f6f6f;
}

/* Used to leave an empty region on the top of the screen - Only is used in some screen sizes */
.padding-top-big {
    color: #b9b9b9;
    margin-top: 70px;
    margin-bottom: 50px;
}

.padding-top-medium {
  margin-top: 50px;
}

.padding-top-small {
  margin-top: 15px;
}


/* ---------------- HEADING --------------------- */
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              right:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }


/* To avoid the separation with the favourites panel */
.navbar-brand{
    padding: 5px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    /*height: 50px;
    width: auto;*/
}

.navbar-toggle {

}

.navbar-header {
    margin-left: 0px;
}

.navbar-default {
    margin-bottom: 0px;
    background-color: #ffffff;
    border-radius: 0px;
    z-index: 1030;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
    line-height: 30px;
    font-size: 14.4px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-picture {
    padding: 10px 0 0 15px;
}

.forgot-password {
    font-size: 12px;
}

.register-now {
    padding-top: 10px;
    font-size: 12px;
}

.icon-size
{
    font-size: 87px;
}

/* ---------------- favourites --------------------- */
#favourites-panel {
    background-color: #f5f5f5;
    border-bottom: 1px #E7E7E7 solid;
}

/* ---------------- BODY --------------------- */
#site-frame {
    margin-top: 10px;
  background: url('../img/background_pattern.png');
  border: 1px #d6d6d6 solid;
  outline: 5px #e9e9e9 solid;


}


/* ---------------- FOOTER --------------------- */
.footer {
    font-size: 12px;
    line-height: 40px;
    color: #999;
    text-align: center;
    margin-top: 20px;
    border-top: 1px #b7b7b7 solid;
    background-color: #f5f5f5;
}

.footer a {
    color: #999;
}

#language-dropdown a{
    color: #6F6F6F;
}

#language-dropdown a.selected{
    color: #000000;
}

.language {
    padding-left: 13px;
    padding-right: 13px;
}

.footer .language a{
    color: #06D;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}