@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Icon for public draw */
.draw-title {
    font-family: 'PT Sans', sans-serif;
}


.back-arrow,
.public-draw {
    padding: 5px;
}

.back-arrow img,
.public-draw img{
    /*display: block;*/
    min-width: 30px;
    max-width: 100%;
    height: auto;
}


/* Makes the text be inline with the checkbox */
.checkbox_label {
   line-height: 26px;
}

.btn-toss {
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Place the labels closer to the input boxes */
.control-label {
    padding-right: 5px;
}

/* Place the input boxes closer to the labels */
.controls {
    padding-left: 5px;
}


/* Add minimim size to the input boxes */
#id_type_of_deck {
    max-width: 130px;
}

#id_number_of_results {
    max-width: 75px;
}

#id_range_max {
    max-width: 75px;
}
#id_range_min {
    max-width: 75px;
}


