/* Remove underline when hover from icons */
a.fa:hover ,
a.fa:focus {
    text-decoration: none;
}

/***** DRAW HEADER *****/
.draw-heading .draw-editable-title {
    background: transparent;
    border: none;
}

.draw-heading .draw-editable-title:focus {
    outline-color: #4cae4c;
}

.draw-heading .draw-title-area {
    /* Font */
    font-family: 'robotoregular', sans-serif;
    color: #6f6f6f;
    font-size: 28px;

    /* Removing textarea look */
    border: none;
    overflow: hidden;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;


    /* To center it */
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto !important;
}

.draw-heading .draw-title-area:focus {
  border-color: #4cae4c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 174, 76, 0.60);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 174, 76, 0.60);
}




.draw-heading .back-arrow,
.draw-heading .add-favourites,
.draw-heading .public-draw-settings {
    padding: 10px 0 0 0;
}

.draw-heading .back-arrow img,
.draw-heading .add-favourites img {
    /*display: block;*/
    width: 40px;
    height: auto;
}

.draw-heading .add-password {
    color: #6F6F6F;
}

.draw-heading .add-password:hover {
    color: #404b6f;
}

/* Box containing the selected level of restriction when creating a public draw */
.public-draw-restriction,
#public-draw-invite {
    background-color: #FCFCFC;
    border: 1px #D7D7D7 solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.public-draw-restriction #recently-created {
    border-top: 1px #D7D7D7 solid;
    padding-top: 10px;
}


#public-draw-invite #emails {
    width: 100%;
}

/* Slidebar to choose the level of access to public draws */
.slide-bar-container {

    height: 50px;
}

.slide-bar {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #90d6f8 0%, #8ac9e8 100%);
    background-image: -o-linear-gradient(top, #90d6f8 0%, #8ac9e8 100%);
    background-image: linear-gradient(to bottom, #90d6f8 0%, #8ac9e8 100%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

.slider-tick {
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-image: -webkit-linear-gradient(top, #90d6f8 0%, #8ac9e8 100%);
    background-image: -o-linear-gradient(top, #90d6f8 0%, #8ac9e8 100%);
    background-image: linear-gradient(to bottom, #90d6f8 0%, #8ac9e8 100%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    border: 0px solid transparent;
}

.slide-selector {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border: 0px solid transparent;
}

#restriction-headings {
   margin-top: 20px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
    color: #6F6F6F;
}

.restriction-selected {
    color: #6F6F6F;
    font-weight: bold;
}

#restriction-extra {
    margin-top: 20px;
}
#restriction-extra .alert {
    margin-top: 10px;
}

#restriction-everyone {
    padding-left: 0;
    margin-left: -15px;
}

#restriction-password {
    margin-left: 15px;
    text-align: center;
}

#restriction-invited {
    padding-right: 0;
    padding-left: 0;
    margin-right: -15px;
    text-align: right;
}



/***** INDIVIDUAL DRAWS *****/
/* Makes the text be inline with the checkbox */
.checkbox_label {
   line-height: 26px;
}

.btn-row {
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Place the labels closer to the input boxes */
.control-label {
    padding-right: 5px;
}

/* Place the input boxes closer to the labels */
.controls {
    padding-left: 5px;
}

/* Padding for the checkbox "allow repeat" in draws */
.allow-repeat {
    padding-top: 3px;
    padding-left: 25px;
}


/* Add minimim size to the input boxes */
#id_type_of_deck {
    max-width: 130px;
}

#id_number_of_results {
    max-width: 75px;
}

#id_range_max {
    max-width: 75px;
}
#id_range_min {
    max-width: 75px;
}

/* Container for the card images in CardDraw */
.card-container {
    margin-bottom: 10px;
    text-align: center;
    height: 95px;
}

/* Images for CardDraw */
.card-container img {
    height: 100%;
    width: auto;
}
