@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloria_hallelujahregular';
    src: url('../fonts/gloriahallelujah-webfont.eot');
    src: url('../fonts/gloriahallelujah-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gloriahallelujah-webfont.woff2') format('woff2'),
         url('../fonts/gloriahallelujah-webfont.woff') format('woff'),
         url('../fonts/gloriahallelujah-webfont.ttf') format('truetype'),
         url('../fonts/gloriahallelujah-webfont.svg#gloria_hallelujahregular') format('svg');
    font-weight: normal;
    font-style: normal;

}