{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <style>
            body {
                max-width: 400px;
                margin: 10px;
            }
            #error-code {
                font-size: 35px;
                font-weight: bold;
            }
            @media screen and (min-width: 768px) {
                body {
                    margin: 150px auto;
                }

            }
        </style>
    </head>
    <body>
        <img src="{% static 'img/brand/brand_es.png' %}" alt="">
        <div><span id="error-code">500.</span>{% trans "Yes, that's an error." %}</div>
        <div>
        {% blocktrans %}
            Something just blew up in our server.
            You reading this text does not fix the problem.
            In fact, you're likely pissed off at the moment.
            But take solate, <strong>top men</strong> are now aware.
        {% endblocktrans %}
        </div>
    </body>
</html>