{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block extra_head %}
    <!-- Semantic schema -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://{% trans 'chooserandom.com' %}",
      "name": "{% trans 'ChooseRandom' %}",
      {% if LANGUAGE_CODE == 'es' %}
          "logo": "https://www.echaloasuerte.com{% static "img/brand/brand_es.png" %}",
      {% else %}
          "logo": "https://www.chooserandom.com/{% static "img/brand/brand_en.png" %}",
      {% endif %}
      "description": "{%trans 'Not sure about a choice? Choose random! Heads or tails, lottery, etc...'%}"
    }
    </script>
{% endblock extra_head %}
{% block content %}
    {% blocktrans %}
        <h1 class="h2">About EchaloASuerte.com</h1>
        <p>Tired of taking hours to agree with your friends on something? This is your web page!</p>
        <p>EchaloASuerte provides you with guaranteed random values releasing you from having to take hard decisions and get all the responsibility for them.</p>
        <p>The web site allows you to create what we call a "public" draw. Where your friends can access and see the result at the time you generate it, which ensures that you didn't cheat.</p>
        <p>Last but not least, the website is mobile friendly, which enables you to create draws anywhere!</p>
    {% endblocktrans %}
    {% blocktrans %}
        <h2>The team</h2>
        <p>EchaloASuerte is maintained by three brave people.</p>
    {% endblocktrans %}

        <div class="col-md-4 text-center team-member">
            <div class="media">
                <img class="img-circle" src="{% static "img/about_us/mario.jpg" %}" alt="Mario">
                <div class="media-body">
                    <h3 class="h4 media-heading"> Mario <small> Corchero </small></h3>
                    <p class="h5">Software Developer</p>
                    <hr>
                    <span class="label label-default">Django</span>
                    <span class="label label-default">MongoDB</span>
                    <span class="label label-default">Unix</span>
                    <hr>
                    <a href="https://www.facebook.com/Mariocj89" target="_blank"><i class="redsocial face fa fa-facebook"></i></a>
                    <a href="https://uk.linkedin.com/in/mariocj89/en" target="_blank"><i class="redsocial linked fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/mariocj89" target="_blank"><i class="redsocial fa fa-github-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center team-member">
            <div class="media text-center">
                <img class="img-circle" src="{% static "img/about_us/david.jpg" %}" alt="David">
                <div class="media-body">
                    <h3 class="h4 media-heading"> David <small> Naranjo </small></h3>
                    <p class="h5">Software Developer</p>
                    <hr>
                    <span class="label label-default">Django</span>
                    <span class="label label-default">Html/Css/Js</span>
                    <span class="label label-default">UX</span>
                    <hr>
                    <a href="https://www.facebook.com/naranjobarco" target="_blank"><i class="redsocial face fa fa-facebook"></i></a>
                    <a href="https://de.linkedin.com/in/davidnaranjob/en" target="_blank"><i class="redsocial linked fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/dnaranjo89" target="_blank"><i class="redsocial fa fa-github-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center team-member">
            <div class="media">
                <img class="img-circle" src="{% static "img/about_us/pedro.jpg" %}" alt="Pedro">
                <div class="media-body">
                    <h3 class="h4 media-heading"> Pedro <small> Álvarez </small></h3>
                    <p class="h5">Software Developer</p>
                    <hr>
                    <span class="label label-default">Unix</span>
                    <span class="label label-default">Deployment</span>
                    <span class="label label-default">Automation</span>
                    <hr>
                    <a href="https://www.facebook.com/pedro.alvarezpiedehierro" target="_blank"><i class="redsocial face fa fa-facebook"></i></a>
                    <a href="https://twitter.com/palvarez1989" target="_blank"><i class="redsocial twitter fa fa-twitter"></i></a>
                    <a href="https://uk.linkedin.com/in/pedroalvarezpiedehierro" target="_blank"><i class="redsocial linked fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/palvarez89" target="_blank"><i class="redsocial fa fa-github-alt"></i></a>
                </div>
            </div>
        </div>

    {% blocktrans %}
    <h2>History</h2>
        <p>EchaloASuerte has been around since 2010, it was just a simple page to allow several users to take random decisions when they were not in the locations. It was an old and ugly PHP/HTML/mysql website.</p>
        <p>Middle of 2012 we learnt about AJAX and JQuery. What better place to test my knowledge than EchaloASuerte?. The website became more dynamic and easier to use.</p>
        <p>End of 2014 the traffic on the web site started to grow over 13.000 visits a month from around the globe, which made us realize that the site deserved a rewrite. Two friends joined the project, David and Pedro.
        We started to full rewrite the site and host it directly in a VPS. We had two objectives, learn new stuff and enhance the page. We use/used: jquery, django, github, jenkins, travis, kibana, mongodb, ansible, unix, apache, bootstrap, cloudflare, websockets, socketio and nodejs.</p>
        <p>In brief, EchaloASuerte is a web site that gave us the change to learn and put in practice new technologies/tools whilst users an found answer to a need that no other page offers (public draws).</p>
    {% endblocktrans %}
    {% blocktrans %}
        <h2>Contributions</h2>
            <p>This web site is both free as in freedom and free as in free beers tonight at my place. </p>
            <h3>Free as in Freedom</h3>
                <p> This site is open source. Feel free to have a look to <a href="https://github.com/etcaterva/EchaloASuerte">our repo</a> and contribute. </p>
            <h3>Free as in free beers tonight</h3>
                <p>Free to use it and no ads at all, that is the way we want this page to be. We are assuming all the cost of development, server and maintenance so you can enjoy this site :)</p>
                <p>Nevertheless, if you want to thank us for our work, feel free to <a>pay us a beer</a>, we'll need a lot to keep improving the site.</p>
    {% endblocktrans %}
{% endblock %}
