<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}
<!-- Current language: {{ LANGUAGE_CODE }}  Current user: {{user}}-->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Echalo A Suerte{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">

    <!--
    <link href="{% static 'css/jquery-clockpicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-clockpicker.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    -->
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/eas-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-home.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-login.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-draw-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-draw-card.css' %}" rel="stylesheet">
    <script src="{% static 'js/project.js' %}"></script>
    <script>
        {% block extra_js %}{% endblock extra_js %}
        $(document).ready(function () {
            $('#language-dropdown li a').click(function () {
                $("#language-form option[value=" + $(this).attr('title') + "]").attr("selected", "selected");
                $("#change_language_but").click();
            });
            {% block extra_jq %}{% endblock extra_jq %}
        });
    </script>
    <style>
        {% block extra_css %}{% endblock extra_css %}
    </style>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
<div class="container">
{% block pre-content %}
{% endblock pre-content %}

<!-- Showing screen size tag -->
<div class="hidden clearfix">
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf" padd>
        <div class="visible-xs">XS</div>
        <div class="visible-sm">SM</div>
        <div class="visible-md">MD</div>
        <div class="visible-lg">LG</div>
    </div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">2</div>
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf">3</div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">4</div>
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf">5</div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">6</div>
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf">7</div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">8</div>
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf">9</div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">10</div>
    <div class="col-xs-1" style="padding:0px; background: #b9cfaf">11</div>
    <div class="col-xs-1" style="padding:0px; background: #cfb1af">12</div>
</div>

<div class="visible-lg padding-top-big"></div>
<div class="visible-md padding-top-medium"></div>
<div class="visible-sm padding-top-small"></div>

<div class="content col-sm-8 col-sm-offset-2">
    <!-- Static navbar -->
    <div id="cssmenu" class="row navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-xs-12 col-sm-5 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="col-xs-9 col-sm-12 navbar-brand" href="/">
                    <img class="" src="{% static "img/brand_beta.png" %}"/>
                </a>
                <!--<a class="navbar-brand" href="/"> Echalo A Suerte </a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-sm-7 collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'join_public_draw' %}">{% trans "Join Public Draw" %}
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}">{{ user }}
                        {% else %}
                            <a href="{% url 'login' %}">{% trans "Login" %}
                        {% endif %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                        <!-- START ACCOUNT -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> 
                                {{ user }}
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-user icon-size"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ user }}</strong></p>

                                                <p class="text-left small">email@email.com</p>

                                                <p class="text-left">
                                                    <a href="#" class="btn btn-primary btn-block btn-sm">Update details</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{% url 'login' %}" class="btn btn-danger btn-block">{% trans "Sign out" %}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- END ACCOUNT -->
                    {% else %}
                        <!-- START SIGN IN -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{% trans "Sign in" %}<b class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="sr-only" for="username">Username</label>
                                                    <input type="text" class="form-control" id="username" placeholder="Username"  name="username" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="password">Password</label>
                                                    <input type="password" class="form-control" id="password" placeholder="Password"  name="password" required>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Remember me
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                                    <a class="forgot-password" href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a>
                                                </div>
                                                    <li class="divider"></li>
                                                    <div class="register-now text-center">
                                                        Don't have an account?<br>
                                                        <a href="{% url 'register' %}">{% trans "Register now!" %}</a>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>


                                <!--
                                <div class="line-separator">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans "Or" %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <a href="{% url 'register' %}"><button type="button" class="btn">Register</button></a>

                                <!-- Social networks login -->
                                <!--
                                <li>
                                    <input class="btn btn-primary btn-block" type="button" id="sign-in-google"
                                           value="Sign In with Google">
                                    <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter"
                                           value="Sign In with Twitter">
                                </li>
                                -->
                            </ul>
                        </li>
                        <!-- END SIGN IN -->
                    {% endif %}



                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

    {% block content %}
        <p>Page to be filled.</p>
    {% endblock content %}

    <!-- Footer -->
    <div class="row footer">
        <div class="col-xs-5">
            Copyright 2015 @ EchaloASuerte
        </div>
        <div class="col-xs-3">
            <a href="{% url 'about' %}">{% trans "About us" %}</a>
        </div>
        <div class="col-xs-4 language">
            Choose language:
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-flag"></span>
                {{ LANGUAGE_CODE|language_name }} ▾
            </a>
            <!-- Language dropdown menu -->
            <ul class="dropdown-menu" role="menu">
                {% for language in languages %}
                    <li><a href="#" title="{{ language.code }}">{{ language.name_local }}
                        ({{ language.code }})</a></li>
                {% endfor %}
            </ul>
            </li>
        </div>
    </div>
</div>
<!-- container -->

<!-- hidden form to change language -->
<div class="hidden">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>
        <select name="language" id="language-form">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                        selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" id="change_language_but"/>
    </form>
</div>

{% block extra_body %}
{% endblock extra_body %}

</body>
</html>
