<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}
<!-- Current language: {{ LANGUAGE_CODE }}  Current user: {{user}}-->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="echaloasuerte, suerte, dados, cara, cruz, aleatorio, distribuido, a distancia, azar, echalo, pick, ban, cara o cruz, loteria, random, draw" />
    <meta name="description" content="Deja que el azar eliga una decision por ti. Olvidate de los papelitos. Esta es tu pagina, y cada uno desde su ordenador!" />
    <title>{% block title %}{% endblock title %}Echalo A Suerte</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico"/>

    <!-- FontAwesome -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    <!-- JQuery -->
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>


    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Bootstrap TokenField -->
    <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/eas_datatable.js' %}"></script>
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-draw-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-base.css' %}" rel="stylesheet">

    <script src="{% static 'js/card.js' %}"></script>
    <script src="{% static 'js/coin.js' %}"></script>
    <script src="{% static 'js/dice.js' %}"></script>

    {% block extra_head %}{% endblock extra_head %}
    <script>
        {% block extra_js %}{% endblock extra_js %}
        // Replaced default tooltip by the one from JQueryUI
        $(document).tooltip({
            track: true
        });

        function place_lateral_columns(){
            var $site_frame = $('#site-frame');
            var site_frame_pos = $site_frame.offset();
            var site_frame_width = $site_frame.outerWidth();
            var window_width = $(window).width();

            // Left lateral column
            var left_column = {};
            left_column.left = 0;
            left_column.top = site_frame_pos.top;
            left_column.width = site_frame_pos.left;
            $("#column-left").css({
                position: "absolute",
                width: left_column.width + "px",
                top: left_column.top + "px",
                left: left_column.left + "px"
            });

            // Right lateral column
            var right_column = {};
            right_column.left = site_frame_pos.left + site_frame_width;
            right_column.top = site_frame_pos.top;
            right_column.width = window_width - right_column.left - 3; // 3 pixels to avoid crossing the window edge
            $("#column-right").css({
                position: "absolute",
                width: right_column.width + "px",
                top: right_column.top + "px",
                left: right_column.left + "px"
            });
        }

        function setCookie(cname, cvalue) {
            var d = new Date();
            d.setTime(d.getTime() + (366*24*60*60*1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        $( window ).resize(function() {
            //place_right_column();
            place_lateral_columns();
        });

        $(document).ready(function () {
            $('#language-dropdown li a').click(function () {
                var lang_code = $(this).attr('data-code');
                $("#language-option"). attr("value",lang_code);
                $("#change_language_but").click();
            });
            // Collapsed navbar
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });

            // Closes collapsed navbar when items are clicked
            $('.nav a').on('click', function(){
                $(".navbar-toggle").click();
            });

            // Resize the window to avoid problems with wrong width
            $(window).resize();
            place_lateral_columns();

            $("#keep-logged").click(function(){
                var cookie_value = $(this).prop('checked');
                setCookie("keep-logged", cookie_value || "");
            });

            $("#keep-logged").attr('checked', getCookie("keep-logged") != "");

                        // Returns the browser's version
            navigator.sayswho= (function(){
                var ua= navigator.userAgent, tem,
                M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                if(/trident/i.test(M[1])){
                    tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                    return 'IE '+(tem[1] || '');
                }
                if(M[1]=== 'Chrome'){
                    tem= ua.match(/\bOPR\/(\d+)/);
                    if(tem!= null) return 'Opera '+tem[1];
                }
                M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
                if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
                return M.join(' ');
            })();

            // Add animation to suggestion box
            $('#suggestion-box').mouseenter(function(){
                $('#suggestion-box').stop(true,false).animate({
                    left: 0
                    }, 500 );
                });
            $('#suggestion-box').mouseleave(function(){
                $('#suggestion-box').stop(true,false).animate({
                    left: -150
                    }, 500 );
                });

            $('input[type=radio][name=suggestion-type]').change(function() {
                if (this.value == 'suggestion') {
                    $('#info-suggestion-idea').removeClass('hidden');
                    $('#info-suggestion-bug').addClass('hidden');
                }
                else if (this.value == 'bug') {
                    $('#info-suggestion-idea').addClass('hidden');
                    $('#info-suggestion-bug').removeClass('hidden');
                }
            });

            $('#send-suggestion').click(function(){
                $('.suggestion-step-form').addClass('hidden');
                $('.suggestion-step-email').removeClass('hidden');
            });

            $('#send-suggestion-finish').click(function(){
                var browser = navigator.sayswho;
                var suggestion_type = $('input[type=radio][name=suggestion-type]:checked').val();;
                var comment = $('#suggestion-comment').val();
                var email = $('#suggestion-email').val();
                $.ajax({
                    method : "POST",
                    url   : "{% url 'ws_feedback' %}",
                    data  : {
                         email : email,
                         type : suggestion_type,
                         browser : browser,
                         comment : comment,
                         csrfmiddlewaretoken : "{{csrf_token}}"
                    }
                }).done(function (){
                    //DAVID?
                })
                .fail(function () {
                    alert("There was an error when sending the feedback :(")
                });

                $('.suggestion-step-email').addClass('hidden');
                $('.suggestion-step-final').removeClass('hidden');
            });

            {% block extra_jq_ready %}{% endblock extra_jq_ready %}
        });
        window.onload = function (){
            {% block extra_js_onload %}{% endblock extra_js_onload %}
        }


    </script>
    <style>
        {% block extra_css %}{% endblock extra_css %}
    </style>

</head>

<body class="background">
    <a href="http://www.pickforme.net" id="back-old-version" class="visible-lg"></a>
{% block pre-content %}
{% endblock pre-content %}
<div id="wrapper" class="container">
    <!-- Static navbar -->
    <div class="row navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse-side" data-target=".side-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="visible-md visible-lg" src="{% static "img/brand_lg.png" %}" alt="{% trans "PickForMe" %}"/>
                <img class="visible-xs visible-sm" src="{% static "img/brand_xs.png" %}" alt="{% trans "PickForMe" %}"/>

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="side-collapse in">
            <div class="navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="visible-xs">
                        {% if user.is_authenticated %}
                            <a id="profile-dropdown-link" href="{% url 'profile' %}">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                {{ user }}
                            </a>
                        {% else %}
                            <a id="login-dropdown-link" href="{% url 'login' %}">
                                <span class="fa fa-user"></span>
                                {% trans "Sign in" %}
                            </a>
                        {% endif %}
                        <li class="nav-divider"></li>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                        <a id="favourites" href="#" data-toggle="collapse" data-target="#favourites-panel">
                            <span class="fa fa-star" aria-hidden="true"></span>
                            {% trans "favourites" %}
                        </a>
                        </li>
                        <li class="nav-divider"></li>
                    {% endif %}


                    <!-- Public draw options -->
                    <li class="visible-xs">
                        <a class="public-draw-join" href="{% url 'join_public_draw' %}"><span class="fa fa-share" aria-hidden="true"></span> {% trans "Join public draw" %}</a>
                    </li>
                    <li class="nav-divider visible-xs"></li>
                    <li class="visible-xs"><a class="public-draw-create" href="{% url 'publish_draw' %}"><span class="fa fa-rocket" aria-hidden="true"></span> {% trans "Create public draw" %}</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-divider visible-xs"></li>
                        <li class="visible-xs">
                        <a id="sign-out-xs" href="{% url 'login' %}">
                            <span class="fa fa-sign-out" aria-hidden="true"></span>
                            {% trans "Sign out" %}
                        </a>
                        </li>
                    {% endif %}
                    </li>
                    <li id="public-draw-dropdown" class="hidden-xs dropdown">
                        <a id="public-draw" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-globe" aria-hidden="true"></span>
                            {% trans "Public Draw" %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="public-draw-join" href="{% url 'join_public_draw' %}"><span class="fa fa-share" aria-hidden="true"></span> {% trans "Join public draw" %}</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li><a class="public-draw-create" href="{% url 'publish_draw' %}"><span class="fa fa-rocket" aria-hidden="true"></span> {% trans "Create public draw" %}</a></li>
                        </ul>
                    </li>

                    <li id="account-dropdown" class="hidden-xs dropdown">
                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span> 
                                {{ user }}
                                <span class="caret"></span>
                            </a>
                            <!-- Account dropdown panel -->
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="user-picture fa fa-user fa-5x"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ user }}</strong></p>

                                                <p class="text-left small"> {{user.get_email}}</p>

                                                <p class="text-left">
                                                <a href="{% url 'profile' %}" class="btn btn-primary btn-block btn-sm">{%trans 'My profile'%}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a id="sign-out" href="{% url 'login' %}" class="btn btn-danger btn-block">{% trans "Sign out" %}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End account dropdown panel -->
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user" aria-hidden="true"></span> {% trans "Sign in" %}<b class="caret"></b>
                            </a>
                            <!-- Login panel -->
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="sr-only" for="email">{% trans "Email"%}</label>
                                                    <input type="email" class="form-control" id="email" placeholder="{% trans "Email"%}" name="email" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="password">{% trans "Password"%}</label>
                                                    <input type="password" class="form-control" id="password" placeholder="{% trans "Password"%}" name="password" required>
                                                </div>
                                                <div class="form-group checkbox">
                                                    <label>
                                                        <input type="checkbox" class="checkboxinput checkbox" id="keep-logged" name="keep-logged"> {% trans "Keep me signed in" %}
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <button id="login-button" type="submit" class="btn btn-success btn-block">{% trans "Sign in"%}
                                                    </button>
                                                    <a class="forgot-password"
                                                       href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a>
                                                </div>
                                                <li class="nav-divider"></li>
                                                <div class="register-now text-center">
                                                    {% trans "Don't have an account?"%}<br>
                                                    <a id="sign-up-link" href="{% url 'register' %}">{% trans "Sign up now!" %}</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End login panel -->
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="site-frame" class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
        {% if user.is_authenticated and not is_public%}
            <div id="favourites-panel" class="row collapse">
                <div class="col-xs-12">
                    <span id="close-favourites" class="pull-right fa fa-close" data-toggle="collapse" data-target="#favourites-panel"></span>
                    <p class="h2">{% trans "Favourites" %}</p>
                    <ul>
                        {% for d in user.favourites_list %}
                            <a href="{% url 'retrieve_draw' draw_id=d.pk %}"><li>{{ d.title }} | {{d.creation_time|date:" Y/m/d G:i:s "}}</li></a>
                            {% empty %}
                               <span id="favourites-empty"> {% trans "You don't have favourite draws" %} </span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% block content %}
            <p>Page to be filled.</p>
        {% endblock content %}
    </div>
    <div id="footer">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-xs-7 col-sm-4 col-md-5 text-left">
                © 2015 EchaloASuerte
            </div>
            <div class="hidden-xs col-sm-3 col-md-2">
                <a href="{% url 'about' %}">{% trans "About us" %}</a>
            </div>
            <!-- Language dropdown menu for SM, MD and LG -->
            <div id="change-language-link" class="hidden-xs col-sm-5 text-right">
                {%trans 'Choose language'%}:
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="fa fa-flag"></span>
                    {{ LANGUAGE_CODE|language_name }} ▾
                </a>
                <ul id="language-dropdown" class="dropdown-menu pull-right drop-up" role="menu">
                    {% for language in languages %}
                        <li><a href="#" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %} data-code="{{ language.code }}">
                            {{ language.name_local }} ({{ language.code }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Language dropdown menu for XS -->
            <div class="visible-xs col-xs-5 text-right">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="/"/> <!--check below to know why / -->
                <select id="language-selector" name="language" onchange="this.form.submit()">
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                    selected="selected"{% endif %}>{{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </form>
            </div>

            <!-- hidden form to change language -->
            <div class="hidden">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <!--
                       next needs to be / and not { % url 'index' % } as url index is within the
                       lang specific urls which is processed and resolved before loading this page
                       IN BRIEF: DONT BE A SMART ASS TRYING TO CHANGE IT
                    -->
                    <input name="next" type="hidden" value="/"/>
                    <select name="language" id="language-form">
                            <option id="language-option" value="">
                            </option>
                    </select>
                    <input type="submit" value="Go" id="change_language_but"/>
                </form>
            </div>
        </div>
    </div><!-- #footer -->
</div>
<!-- end container -->
<div id="column-left" class="lateral-column">
    {% block left_column %}
        <div id="suggestion-box">
            <a data-toggle="modal" href="#suggestion-box-panel">
                <div id="suggestion-box-text" class="text-center">
                    <p>{% trans "Do you have any suggestion?" %}</p>
                    <span>Tell us!</span>
                </div>
            </a>
            <div id="suggestion-box-icon">
                <img src="{% static 'img/suggestion_box.png' %}" alt="{% trans 'Suggestion box' %}"/>
            </div>
        </div>
    {% endblock left_column %}
</div>

<div id="column-right" class="lateral-column">
    {% block right_column %}
    {% endblock right_column %}
</div>

<!-- Suggestion box modal -->
<div class="modal fade" id="suggestion-box-panel" tabindex="-1" role="dialog" aria-labelledby="SuggestionBox">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title suggestion-step-form suggestion-step-final">{% trans "Suggestion box" %}</h4>
                <h4 class="modal-title suggestion-step-email hidden">{% trans "Just one more thing" %}</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="suggestion-step-form">
                    <div class="col-md-10 col-md-offset-1">
                        <p>{% trans "First of all, thank you for taking the time to help us to improve." %}</p>
                        <div class="radio">
                            <label>
                                <input type="radio" name="suggestion-type" id="suggestion-idea" value="suggestion" checked>
                                {% trans "I want to give a suggestion or idea" %}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="suggestion-type" id="suggestion-bug" value="bug">
                                {% trans "I want to report a bug" %}
                            </label>
                        </div>
                        <div id="info-suggestion-idea" class="alert alert-info">{% trans "Please, describe your idea. Give us links, images... whatever you consider that may be helpful." %}</div>
                        <div id="info-suggestion-bug" class="alert alert-info hidden">{% trans "Please, give us details about the bug. How can we reproduce it?" %}</div>
                        <textarea id="suggestion-comment" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-10 col-md-offset-1 suggestion-step-email hidden">
                    <p>{% trans "If you want, you can give us your email so we can contact you in case we need further information." %}</p>
                    <label for="suggestion-email" class="col-sm-4 control-label text-right">{% trans "Email (optional)" %}</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="suggestion-email" name="email">
                    </div>
                </div>
                <div class="alert alert-success col-md-10 col-md-offset-1 text-center suggestion-step-final hidden">
                    {% trans "Your message has been sent!" %}<br>
                    {%trans "Once again, thank you for your help. Your feedback will be very usefull! :D" %}
                </div>
            </div>
            <div class="modal-footer">
                <div class="suggestion-step-form">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <a id="send-suggestion" href="#" type="button" class="btn btn-primary">{% trans "Send" %}</a>
                </div>
                <a id="send-suggestion-finish" href="#" type="button" class="btn btn-primary suggestion-step-email hidden">{% trans "Send" %}</a>
                <a href="#" type="button" data-dismiss="modal" class="btn btn-primary suggestion-step-final hidden">{% trans "Finish" %}</a>
            </div>
        </div>
    </div>
</div>

{% block extra_body %}
{% endblock extra_body %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62791775-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
