<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}
<!-- Current language: {{ LANGUAGE_CODE }}  Current user: {{user}}-->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}Echalo A Suerte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico"/>

    <!-- FontAwesome -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    <!-- JQuery -->
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>


    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Bootstrap TokenField -->
    <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/eas_datatable.js' %}"></script>
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" />
    <script src="{% static 'js/bootstrap-modalmanager.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-draw-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-base.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-index.css' %}" rel="stylesheet">
    <link href="{% static 'css/eas-login.css' %}" rel="stylesheet">

    <script src="{% static 'js/card.js' %}"></script>
    <script src="{% static 'js/coin.js' %}"></script>
    <script src="{% static 'js/dice.js' %}"></script>

    {% block extra_head %}{% endblock extra_head %}
    <script>
        {% block extra_js %}{% endblock extra_js %}
        // Replaced default tooltip by the one from JQueryUI
        $(document).tooltip();


        function place_right_column(){
            var chat = {};
            var $site_frame = $('#site-frame');
            var pos = $site_frame.offset();
            var width = $site_frame.outerWidth();
            var extra = 10; // 5px border + 5px padding from site-frame
            chat.left = pos.left + width + extra;
            var window_width = $(window).width();
            chat.width = window_width - chat.left - 20;
            $("#column-right").css({
                position: "absolute",
                width: chat.width + "px",
                top: pos.top + "px",
                left: (pos.left + width + extra) + "px"
            });
        }


        $( window ).resize(function() {
            place_right_column();
        });

        $(document).ready(function () {
           $('#language-dropdown li a').click(function () {
                var lang_code = $(this).attr('data-code');
                $("#language-option"). attr("value",lang_code);
                $("#change_language_but").click();
            });
            <!---->
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
            <!---->
            // Resize the window to avoid problems with wrong width
            $(window).resize();
            place_right_column();
            {% block extra_jq_ready %}{% endblock extra_jq_ready %}
        });
        window.onload = function (){
            {% block extra_js_onload %}{% endblock extra_js_onload %}
        }
    </script>
    <style>
        {% block extra_css %}{% endblock extra_css %}
    </style>

</head>

<body class="background">
    <a href="http://www.pickforme.net" id="back-old-version" class="visible-lg"></a>
{% block pre-content %}
{% endblock pre-content %}
<div id="wrapper" class="container">
    <!-- Static navbar -->
    <div class="row navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse-side" data-target=".side-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="visible-md visible-lg" src="{% static "img/brand_lg.png" %}" alt="{% trans "PickForMe" %}"/>
                <img class="visible-xs visible-sm" src="{% static "img/brand_xs.png" %}" alt="{% trans "PickForMe" %}"/>

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="side-collapse in">
            <div class="navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="visible-xs">
                        {% if user.is_authenticated %}
                            <a id="profile-dropdown-link" href="{% url 'profile' %}">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                {{ user }}
                            </a>
                        {% else %}
                            <a id="login-dropdown-link" href="{% url 'login' %}">
                                <span class="fa fa-user"></span>
                                {% trans "Sign in" %}
                            </a>
                        {% endif %}
                        <li class="nav-divider"></li>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                        <a id="favourites" href="#" data-toggle="collapse" data-target="#favourites-panel">
                            <span class="fa fa-star" aria-hidden="true"></span>
                            {% trans "favourites" %}
                        </a>
                        </li>
                        <li class="nav-divider"></li>
                    {% endif %}


                    <!-- Public draw options -->
                    <li class="visible-xs">
                        <a class="public-draw-join" href="{% url 'join_public_draw' %}"><span class="fa fa-share" aria-hidden="true"></span> {% trans "Join public draw" %}</a>
                    </li>
                    <li class="nav-divider visible-xs"></li>
                    <li class="visible-xs"><a class="public-draw-create" href="{% url 'publish_draw' %}"><span class="fa fa-rocket" aria-hidden="true"></span> {% trans "Create public draw" %}</a></li>
                    <li id="public-draw-dropdown" class="hidden-xs dropdown">
                        <a id="public-draw" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-globe" aria-hidden="true"></span>
                            {% trans "Public Draw" %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="public-draw-join" href="{% url 'join_public_draw' %}"><span class="fa fa-share" aria-hidden="true"></span> {% trans "Join public draw" %}</a>
                            </li>
                            <li class="nav-divider"></li>
                            <li><a class="public-draw-create" href="{% url 'publish_draw' %}"><span class="fa fa-rocket" aria-hidden="true"></span> {% trans "Create public draw" %}</a></li>
                        </ul>
                    </li>

                    <li id="account-dropdown" class="hidden-xs dropdown">
                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span> 
                                {{ user }}
                                <span class="caret"></span>
                            </a>
                            <!-- Account dropdown panel -->
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class="user-picture fa fa-user fa-5x"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ user }}</strong></p>

                                                <p class="text-left small"> {{user.get_email}}</p>

                                                <p class="text-left">
                                                <a href="{% url 'profile' %}" class="btn btn-primary btn-block btn-sm">{%trans 'History'%}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a id="sign-out" href="{% url 'login' %}" class="btn btn-danger btn-block">{% trans "Sign out" %}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End account dropdown panel -->
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user" aria-hidden="true"></span> {% trans "Sign in" %}<b class="caret"></b>
                            </a>
                            <!-- Login panel -->
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="sr-only" for="email">{% trans "Email"%}</label>
                                                    <input type="email" class="form-control" id="email" placeholder="{% trans "Email"%}" name="email" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="password">{% trans "Password"%}</label>
                                                    <input type="password" class="form-control" id="password" placeholder="{% trans "Password"%}" name="password" required>
                                                </div>
                                                <div class="form-group checkbox">
                                                    <label>
                                                        <input type="checkbox" class="checkboxinput checkbox" id="keep-logged" name="keep-logged"> {% trans "Keep me signed in" %}
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <button id="login-button" type="submit" class="btn btn-success btn-block">{% trans "Sign in"%}
                                                    </button>
                                                    <a class="forgot-password"
                                                       href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a>
                                                </div>
                                                <li class="nav-divider"></li>
                                                <div class="register-now text-center">
                                                    {% trans "Don't have an account?"%}<br>
                                                    <a id="sign-up-link" href="{% url 'register' %}">{% trans "Sign up now!" %}</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End login panel -->
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="visible-lg padding-top-big"></div>
    <div class="visible-md padding-top-medium"></div>
    <div class="visible-sm padding-top-small"></div>

    <div id="site-frame" class="col-sm-10 col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
        {% if user.is_authenticated and not is_public%}
            <div id="favourites-panel" class="row collapse">
                <div class="col-xs-12">
                    <span id="close-favourites" class="pull-right fa fa-close" data-toggle="collapse" data-target="#favourites-panel"></span>
                    <p class="h2">{% trans "Favourites" %}</p>
                    <ul>
                        {% for d in user.favourites_list %}
                            <a href="{% url 'retrieve_draw' draw_id=d.pk %}"><li>{{ d.title }} | {{d.creation_time|date:" Y/m/d G:i:s "}}</li></a>
                            {% empty %}
                               <span id="favourites-empty"> {% trans "You don't have favourite draws" %} </span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% block content %}
            <p>Page to be filled.</p>
        {% endblock content %}
    </div>
    <div id="footer">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-xs-7 col-sm-4 col-md-5 text-left">
                © 2015 EchaloASuerte
            </div>
            <div class="hidden-xs col-sm-3 col-md-2">
                <a href="{% url 'about' %}">{% trans "About us" %}</a>
            </div>
            <!-- Language dropdown menu for SM, MD and LG -->
            <div id="change-language-link" class="hidden-xs col-sm-5 text-right">
                {%trans 'Choose language'%}:
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="fa fa-flag"></span>
                    {{ LANGUAGE_CODE|language_name }} ▾
                </a>
                <ul id="language-dropdown" class="dropdown-menu pull-right drop-up" role="menu">
                    {% for language in languages %}
                        <li><a href="#" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %} data-code="{{ language.code }}">
                            {{ language.name_local }} ({{ language.code }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Language dropdown menu for XS -->
            <div class="visible-xs col-xs-5 text-right">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="/"/> <!--check below to know why / -->
                <select id="language-selector" name="language" onchange="this.form.submit()">
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                    selected="selected"{% endif %}>{{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </form>
            </div>

            <!-- hidden form to change language -->
            <div class="hidden">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <!--
                       next needs to be / and not { % url 'index' % } as url index is within the
                       lang specific urls which is processed and resolved before loading this page
                       IN BRIEF: DONT BE A SMART ASS TRYING TO CHANGE IT
                    -->
                    <input name="next" type="hidden" value="/"/>
                    <select name="language" id="language-form">
                            <option id="language-option" value="">
                            </option>
                    </select>
                    <input type="submit" value="Go" id="change_language_but"/>
                </form>
            </div>
        </div>
    </div><!-- #footer -->
</div>
<!-- end container -->
<div id="column-right">
    {% block right_column %}
    {% endblock right_column %}
</div>
{% block extra_body %}
{% endblock extra_body %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62791775-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
