{% load i18n %}

<!-- breadcrumb for creating Public Draw -->
{% if is_public%}
    <div class="row info-public-draw">
        <div class="help-text">
            {% if public_draw_step == "published" %}
                <span class="col-sm-10 col-sm-offset-1 title">{%trans 'Public draw' %}</span>
            {% else %}
                <span class="col-sm-10 col-sm-offset-1 title">{%trans 'Creating a public draw' %}</span>
                <span id="choose" class="col-xs-4 subtitle {% if public_draw_step == "choose" %} focus {% endif %}">1. {%trans 'Choose' %}</span>
                <span id="configure" class="col-xs-4 subtitle {% if public_draw_step == "configure" %} focus {% endif %}">2. {%trans 'Configure' %}</span>
                <span id="spread" class="col-xs-4 subtitle {% if public_draw_step == "spread" %} focus {% endif %}">3. {%trans 'Spread' %}</span>
            {% endif %}
        </div>
    </div>
{% endif %}
<!-- End breadcrumb Public Draw -->