{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Take a card | Echalo A Suerte{% endblock title %}
{% block extra_head %}
    <script src="{% static 'js/card.js' %}"></script>
{% endblock extra_head %}
{% block content %}
    <div class="row">
        <!-- Draw Heading -->
        {% include "draw_heading.html" with tittle="Take a card" %}

        <div class="col-sm-6 col-sm-offset-3">
            <!-- Input Form -->
            <div class="row">
                {% crispy draw draw.helper %}
            </div>
            <!-- End Input Form -->
            <!-- Results -->
            <div class="row draw-result text-center">
                {% if results %}
                    {% if results|length  == 1 %}
                        <p class="h3">Result</p>
                    {% else %}
                        <p class="h3">Results</p>
                    {% endif %}

                    <script>
                        var baseUrl = '{{ STATIC_URL }}' + "img/";
                        var results = {{ results }};
                        Card.setup(baseUrl, results);
                        Card.draw();
                    </script>
                {% endif %}
            </div>
            <!-- End Results -->
        </div>
    </div>
{% endblock %}
