{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <script>
        $('img.swap').hover(function () {
            this.src = '/images/signup_big_hover.png';
        }, function () {
            this.src = '/images/signup_big.png';
        });
    </script>
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <a href="{% url 'index' %}" >
                <img class="col-xs-3" src="{% static "img/back_arrow.png" %}"/>
            </a>
            <h1 class="col-xs-6">Flip a coin</h1>
            <img class="col-xs-3" src="{% static "img/public_draw.png" %}"/>
            <div class="clearfix"></div>
            <form action="{% url 'coin' %}" class="blueForms" method="post">
                {% crispy draw draw.helper %}
                <div class="text-center">
                    <p>{% trans "Tap the coin to flip it" %}</p>
                    {% if result == 'tail'%}
                        <input type="image" src="{% static "img/coin_tail.png" %}" name="sumbit" alt="Flip the coin">
                    {% else %}
                        <input type="image" src="{% static "img/coin_head.png" %}" name="sumbit" alt="Flip the coin">
                    {%  endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
