{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Flip a coin | Echalo A Suerte{% endblock title %}
{% block extra_head %}
    <script src="{% static 'js/coin.js' %}"></script>
{% endblock extra_head %}
{% block extra_js %}
    window.onload = function () {
        coin.baseUrl = '{{ STATIC_URL }}' + "img/img_coin/"
        coin.setup()
    }
{% endblock extra_js %}
{% block content %}
    <div class="row">
        <!-- Draw Heading -->
        {% include "draw_heading.html" with tittle="Flip a coin" %}

        <div class="col-sm-6 col-sm-offset-3">
            <!-- Input Form -->
            <div class="row">
                <form action="{% url 'coin' %}" class="blueForms" method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <input type="image" id="img-coin" src="{% static "img/img_coin/head.png" %}" name="coin">
                        <p>{% trans "Tap the coin to flip it" %}</p>
                        {% if result %}
                            {% if result == 'tail' %}
                                <script>
                                    coin.baseUrl = '{{ STATIC_URL }}' + "img/img_coin/"
                                    coin.result = 2;
                                    coin.flip(2);
                                </script>
                            {% else %}
                                <script>
                                    coin.baseUrl = '{{ STATIC_URL }}' + "img/img_coin/"
                                    coin.result = 0;
                                    coin.flip(0);
                                </script>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
            </div>
            <!-- Input Form -->
        </div>
    </div>
{% endblock %}
