{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <a href="{% url 'index' %}" >
                <img class="col-xs-3" src="{% static "img/back_arrow.png" %}"/>
            </a>
            <h1 class="col-xs-6">Flip a coin</h1>
            <img class="col-xs-3" src="{% static "img/public_draw.png" %}"/>
            <div class="clearfix visible-xs"></div>
            {% crispy draw draw.helper %}
        </div>

        <div class="row">
                {% if result %}
                    <p class="h2">Result</p>
                    {{ result }}
                {%  endif %}
        </div>
    </div>
{% endblock %}
