{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    <script type="text/javascript" src="{% static "js/bootstrap-filestyle.js" %}"> </script>
{% endblock extra_head %}
{% block extra_jq_ready %}
    $('.settings-item-link').click(function (){
        $(this).parent().addClass('opened-settings-panel');
    });

    $('.cancel-edition').click(function (){
        $("#user-settings").accordion({active: false}).click();
    });

    $('.accordion').accordion({collapsible: true, active: false, heightStyle: "content", animate: false});

     function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
     }

    $('#new-email').bind('input propertychange', function() {
        var email_valid = validateEmail($(this).val());
        if (email_valid){
            $('#change-email-password').removeClass('hidden');
        }
    });

{% endblock extra_jq_ready %}

{% block content %}

    <h1 class="text-center">{% trans "Edit profile" %}</h1>

    <div class="col-sm-8 col-sm-offset-2">
        <div id="user-settings" class="row text-center accordion">
            {# Edit Username #}
            <p class="h3 text-left">
                <span class="user-settings-label">{% trans "Username" %}</span>
                <span class="user-settings-content">{{ user }}</span>
                <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <div class="row">
                    <div class="user-settings-label col-xs-4 text-right">{% trans "New Username" %}</div>
                    <div class="col-xs-8 text-left"><input type="text"/></div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-settings">{% trans "Check availability" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>

            {# Edit Password #}
            <p class="h3 text-left">
                <span class="user-settings-label">{% trans "Password" %}</span>
                <span class="user-settings-content">*********</span>
                <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <ul>
                    <li>
                        <div class="row">
                            <div class="user-settings-label col-xs-4 text-right">{% trans "Current" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="user-settings-label col-xs-4 text-right">{% trans "New" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="user-settings-label col-xs-4 text-right">{% trans "Repeat new" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                </ul>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-settings">{% trans "Change password" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>

            {# Edit Email #}
            <p class="h3 text-left">
                <span class="user-settings-label">{% trans "Email" %}</span>
                <span class="user-settings-content">{{ user.get_email }}</span>
                <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <div class="user-settings-label col-xs-4 text-right">{% trans "New email" %}</div>
                <div class="col-xs-8 text-left"><input id="new-email" type="email"/></div>
                <div id="change-email-password" class="hidden col-xs-12">
                    <p id="info-change-user-email">{% trans "For your security, you must re-enter your password to continue." %}
                    <a href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a></p>
                    <div class="user-settings-label col-xs-4 text-right">{% trans "Password" %}</div>
                    <div class="col-xs-8 text-left"><input type="text"/>
                </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-settings">{% trans "Change email" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>

            {# Edit Avatar #}
            <p class="h3 text-left">
                <span class="user-settings-label">{% trans "Avatar" %}</span>
                <span class="user-settings-content">Avatar</span>
                <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <div id="btn-upload-image" class="col-xs-6 text-center">
                    <input id="upload-image" type="file" class="filestyle" data-classButton="btn btn-primary" data-badge="false" data-input="false" data-classIcon="icon-plus" data-buttonText="{% trans "Choose an image" %}"  onchange="PreviewImage();">
                </div>
                <div class="col-xs-6 text-center">
                    <img id="upload-preview" />
                </div>
                <script type="text/javascript">
                  function PreviewImage() {
                      $('#confirm-avatar').removeClass('hidden');
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(document.getElementById("upload-image").files[0]);

                    oFReader.onload = function(oFREvent) {
                      document.getElementById("upload-preview").src = oFREvent.target.result;
                    };
                  };
                </script>
                <div class="col-xs-12 text-center">
                    <button id="confirm-avatar" class="btn btn-primary btn-settings hidden">{% trans "Confirm avatar" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}