{% extends "base.html" %}
{% load i18n %}
{% block extra_jq_ready %}
    $('.settings-item-link').click(function (){
        $(this).parent().addClass('opened-settings-panel');
    });

    $('.cancel-edition').click(function (){
        $("#user-settings").accordion({active: false}).click();
    });

    $('.accordion').accordion({collapsible: true, active: false, heightStyle: "content", animate: false});

{% endblock extra_jq_ready %}

{% block content %}

    <h1>{% trans "Edit profile" %}</h1>

    <div class="col-sm-8 col-sm-offset-2">
        <div id="user-settings" class="row text-center accordion">
            {# Edit Username #}
            <p class="h3 text-left">
                <span class="s-label">{% trans "Username" %}</span>
                <span class="s-content">{{ user }}</span>
                <span class="s-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <div class="row">
                    <div class="settings-edit-label col-xs-4 text-right">{% trans "New Username" %}</div>
                    <div class="col-xs-8 text-left"><input type="text"/></div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-settings">{% trans "Check availability" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>

            {# Edit Password #}
            <p class="h3 text-left">
                <span class="s-label">{% trans "Password" %}</span>
                <span class="s-content">*********</span>
                <span class="s-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <ul>
                    <li>
                        <div class="row">
                            <div class="settings-edit-label col-xs-4 text-right">{% trans "Current" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="settings-edit-label col-xs-4 text-right">{% trans "New" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="settings-edit-label col-xs-4 text-right">{% trans "Repeat new" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                    </li>
                </ul>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-primary btn-settings">{% trans "Save changes" %}</button>
                    <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                </div>
            </div>

            {# Edit Email #}
            <p class="h3 text-left">
                <span class="s-label">{% trans "Email" %}</span>
                <span class="s-content">{{ user.get_email }}</span>
                <span class="s-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                email
            </div>

            {# Edit Avatar #}
            <p class="h3 text-left">
                <span class="s-label">{% trans "Avatar" %}</span>
                <span class="s-content">Avatar</span>
                <span class="s-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
            </p>
            <div class="panel">
                <span class="fa fa-user fa-3x"></span>
            </div>
        </div>
    </div>

{% endblock content %}