{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block extra_jq_ready %}
	/*var default_help_header = $(".header-help").text();
	$(".draw-link").hover(
	function(){ //in
        var help_header = $(this).attr("data-help");
	    $(".header-help").text(help_header);
	},
	function(){ //out
	    $(".header-help").text(default_help_header);
	}
	);*/

    $(function() {
        $( ".draw-link" ).hover(
            function() {
                $(this).find(".draw-box-title" ).stop(true,true).addClass( "no-padding", 400 );
              $(this).find(".draw-box-subtitle" ).stop(true,true).show( "clip", 400 );
            },
            function() {
                $(this).find(".draw-box-title" ).stop(true,true).removeClass( "no-padding", 400 );
              $(this).find(".draw-box-subtitle" ).stop(true,true).hide( "clip", 400 );
            }
        );
    });

{% endblock extra_jq_ready %}
{% block content %}
    {# breadcrumb to assist the creation of a public draw #}
    {% include "breadcrumb.html" %}
    <div class="container-draws row">
        <div class="col-sm-6">
            <a class="draw-link" href="{% url 'draw' draw_type='coin' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/coin.gif" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Flip a coin" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Afraid of taking the wrong decision? Don't hesitate and throw the coin!</div>
                    </div>
                </div>
            </a>
            <a class="draw-link" href="{% url 'draw' draw_type='card' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/cards.png" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Take a card" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Let's play some drinking games!</div>

                    </div>
                </div>
            </a>
            <a class="draw-link" href="{% url 'draw' draw_type='dice' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/dice.png" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Roll dice" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Didn't you have a dice? Just roll this one</div>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="draw-link" href="{% url 'draw' draw_type='number' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/random_number.png" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Random number" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Doing a raffle? Luck will decide who is the winner</div>

                    </div>
                </div>
            </a>
            <a class="draw-link" href="{% url 'draw' draw_type='item' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/random_item.png" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Pick random items from a list" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Doing a raffle? Luck will decide who is the winner</div>

                    </div>
                </div>
            </a>
            <a class="draw-link" href="{% url 'draw' draw_type='link_sets' publish=is_public %}">
                <div class="draw-box">
                    <div class="draw-img"><img src="{% static "img/item_association.png" %}"/></div>
                    <div class="draw-label text-center">
                        <div class="draw-box-title">{% trans "Associate items from two lists" %}</div>
                        <div class="hidden-xs hidden-sm draw-box-subtitle">Cleaning the house? Allocate the tasks within your housemates</div>

                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
