{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load eas_humanize %}
{% block extra_jq_ready %}

    // Fill the datatable
    var $public_draws = $('#public-draws').DataTable(
    {
        "bJQueryUI": true,
        "language" : {
            "emptyTable":     "{% trans 'No data available in table'%}",
            "info":           "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
            "infoEmpty":      "{% trans 'Showing 0 to 0 of 0 entries'%}",
            "infoFiltered":   "{% trans '(filtered from _MAX_ total entries)'%}",
            "thousands":      "{% trans ','%}",
            "lengthMenu":     "{% trans 'Show _MENU_ entries'%}",
            "loadingRecords": "{% trans 'Loading...'%}",
            "processing":     "{% trans 'Processing...'%}",
            "search":         "{% trans 'Search:'%}",
            "zeroRecords":    "{% trans 'No matching records found'%}",
            "paginate": {
                "first":      "{% trans 'First'%}",
                "last":       "{% trans 'Last'%}",
                "next":       "{% trans 'Next'%}",
                "previous":   "{% trans 'Previous'%}"
            },
            "aria": {
                "sortAscending":  "{% trans ': activate to sort column ascending'%}",
                "sortDescending": "{% trans ': activate to sort column descending'%}"
            }
        },
        "order": [[ 2, "desc" ]],
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "{%trans 'All' %}"]],
        "columnDefs": [
        { "width": "1px", "targets": 0, "sortable": true },
        { "targets": 1, "serchable": true },
        { "targets": 2, "serchable": true },
        { "targets": 3, "serchable": true },
        { "width": "5px", "targets": 4, "sortable": false },
        { "targets": 5, "serchable": true, "visible": false }
        ]
    }
    );


    // Dialog to request the password to access a protected public draw
    dialog = $( "#password-dialog" ).dialog({
        autoOpen: false,
        height: 'auto',
        width: 350,
        modal: true,
        buttons: {
        "Access": {
            id: "check-password",
            text: "{% trans "Access" %}",
            click: function() {
                var password = $('#password-dialog #password').val();
                var draw_id = dialog.data('draw_id');
                var target_url = dialog.data('target_url');
                target_url += "?password=";
                target_url += password;
                access_draw(draw_id, password, target_url);
            }
        },
        Cancel: function() {
            dialog.dialog( "close" );
                $('#input-password').removeClass('has-error');
                $('#wrong-password').addClass('hidden');
        }
        },
        close: function() {
            // Reset dialog inputs
            form[ 0 ].reset();
        }
    });

    /**
     * Check whether an user can access and, if possible, access to it
    **/
    function access_draw(draw_id, password, target_url){
        console.log(draw_id +" "+password);
        $.ajax({
            method : "GET",
            url   : "{% url 'check_access_to_draw' %}",
            data  : {draw_id : draw_id, draw_pass : password}
        }).done(function (){
            window.location = target_url;
        })
        .fail(function () {
            $('#input-password').addClass('has-error');
            $('#wrong-password').removeClass('hidden');
        });
    }

    // Set action when a draw row is clicked
    $('.data-table').on( 'click', 'tr', function () {
        if(!($(this).attr('alt')))
            return true;

        // Get url and draw id
        var target_url = $(this).attr('alt');
        var draw_id = $(this).attr('data-draw_id');

        var password = undefined;
        if($(this).attr("data-pwd") == 'true') {
            dialog.data('draw_id', draw_id)
                  .data('target_url', target_url)
                  .dialog( "open" );
        }
        else{
            // If the draw is not password protected, directly access to it
            access_draw(draw_id, password,target_url);
        }

        return false;
    } );

    // Allow form submission with keyboard without duplicating the dialog button
    form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        var password = $('#password-dialog #password').val();
        var draw_id = dialog.data('draw_id');
        var target_url = dialog.data('target_url');
        target_url += "?password=";
        target_url += password;
        access_draw(draw_id, password, target_url);
    });

    $('#public-draws_wrapper').easDataTable({
        "dataTable_plugin": $public_draws,
        "msg_your_draws": "{% trans "Show only the draws you take part in" %}",
        "msg_search": "{% trans "Search" %}..."
    });
{% endblock extra_jq_ready %}

{% block content %}
    <div>
        {%if public_draws %}<p class="h1 text-center">{% trans "Public draws" %}</p>
        <table id="public-draws" class="draw-list data-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>{%trans 'Draw Name' %}</th>
                    <th>{%trans 'Owner' %}</th>
                    <th>{%trans 'Created' %}</th>
                    <th><span title="{% trans "Number of spectators" %}" class="fa fa-users"></span></th>
                    <th>is_participant</th>
                </tr>
            </thead>
            <tbody>
            {% for d in public_draws %}
                <tr alt="{% url 'retrieve_draw' draw_id=d.pk %}" data-draw_id="{{d.pk}}" data-pwd="{{d.password|yesno:"true,false"}}">
                    <td>{% if user.pk == d.owner %}
                            <span title="{% trans "You have created this draw" %}" class="fa fa-paw"></span>
                        {% elif user.pk in d.users %}
                            <span title="{% trans "You have been invited to this draw" %}" class="fa fa-envelope-o"></span>
                        {% elif d.password %}
                            <span title="{% trans "This draw is protected with a password" %}" class="fa fa-key"></span>
                        {%endif%}
                    </td>
                    <td>{{ d.title|default:d.DEFAULT_TITLE }}</td>
                    <td>{% if d.owner == user.pk %} {% trans "Me" %} {% else %}{{ d.owner|default:"" }} {% endif %}</td>
                    <td>{{ d.creation_time|naturaltime}}</td>
                    <td>{{ d.users|length }}</td>
                    <td>{% if user.pk in d.owner or user.pk in d.users %}y{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div id="password-dialog" title="{% trans "This draw is protected" %}">
        <p>{% trans "Type the password to access the draw" %}</p>
        <form autocomplete="off">
            <fieldset>
                <div id="input-password" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <!-- "prevent-autofill" is a workaround to avoid chrome autofill -->
                    <input type="password" name="prevent-autofill" style="display:none;" />
                    <input id="password" type="password" class="form-control" name="password" placeholder="{% trans "Password" %}" autocomplete="off" >
                </div>
                <div id="wrong-password" class="alert alert-danger hidden">
                    <strong>{% trans "Ops!" %}</strong> {% trans "The password is not correct" %}.
                </div>
                <!-- Allow form submission with keyboard without duplicating the dialog button-->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
{% endblock %}
