{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load eas_humanize %}
{% block extra_head %}
    <!-- Datatables -->
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/eas_datatable.js' %}"></script>
{% endblock extra_head %}
{% block extra_jq_ready %}
    // Fill the datatable
    var $public_draws = $('#public-draws').dataTable(
    {
        "bJQueryUI": true,
        "language" : {
            "emptyTable":     "{% trans 'No data available in table'%}",
            "info":           "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
            "infoEmpty":      "{% trans 'Showing 0 to 0 of 0 entries'%}",
            "infoFiltered":   "{% trans '(filtered from _MAX_ total entries)'%}",
            "thousands":      "{% trans ','%}",
            "lengthMenu":     "{% trans 'Show _MENU_ entries'%}",
            "loadingRecords": "{% trans 'Loading...'%}",
            "processing":     "{% trans 'Processing...'%}",
            "search":         "{% trans 'Search:'%}",
            "zeroRecords":    "{% trans 'No matching records found'%}",
            "paginate": {
                "first":      "{% trans 'First'%}",
                "last":       "{% trans 'Last'%}",
                "next":       "{% trans 'Next'%}",
                "previous":   "{% trans 'Previous'%}"
            },
            "aria": {
                "sortAscending":  "{% trans ': activate to sort column ascending'%}",
                "sortDescending": "{% trans ': activate to sort column descending'%}"
            }
        },
        "order": [[ 6, "desc" ]],
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "{%trans 'All' %}"]],
        "columnDefs": [
        { "width": "1px", "targets": 0, "sortable": true },
        { "targets": 1, "serchable": true },
        { "targets": 2, "serchable": true },
        { "targets": 3, "serchable": true },
        { "width": "5px", "targets": 4, "sortable": false },
        { "targets": 5, "serchable": true, "visible": false },
        { "targets": 6, "visible": false }
        ]
    }
    );

    // Add eas_datatable plugin to the table
    $('#public-draws_wrapper').easDataTable({
        "type": "public_draw",
        "dataTable_plugin": $public_draws,
        "msg_your_draws": "{% trans "Show only the draws you take part in" %}",
        "msg_search": "{% trans "Search" %}..."
    });

    // Workaround to sort the table by date correctly
    $('#public-draws th:nth-child(4)').click(function (){
        $public_draws.fnSort( [ [6,'desc'] ] );
    });

    // Hide or show columns based on the size of the table
    set_table_size = function(){
        var public_draw_table = $("#public-draws").width();
        var public_draw_wrapper = $("#public-draws_wrapper").width();
        var participants_column = 4; // Fourth column (number of participants)
        if (public_draw_table > public_draw_wrapper){
            $public_draws.fnSetColumnVis( participants_column, false );
        }else{
            $public_draws.fnSetColumnVis( participants_column, true );
            public_draw_table = $("#public-draws").width();
            if (public_draw_table > public_draw_wrapper){
                $public_draws.fnSetColumnVis( participants_column, false );
            }
        }
    };

    // Set the table size the first time the page loads
    set_table_size();
    $( window ).resize(function() {
        // Hide & show columns when the window is resized
        set_table_size();
    });

    // Set action when a draw row is clicked
    $('.data-table').on( 'click', 'tr', function () {
        if(!($(this).attr('alt')))
            return true;

        // Get url and draw id
        var target_url = $(this).attr('alt');
        var draw_id = $(this).attr('data-draw_id');
        window.location = target_url;

        return false;
    } );
{% endblock extra_jq_ready %}

{% block content %}
    {%if public_draws %}
        <p class="h1 text-center">{% trans "Public draws" %}</p>
        <table id="public-draws" class="draw-list data-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>{%trans 'Draw Name' %}</th>
                    <th>{%trans 'Owner' %}</th>
                    <th>{%trans 'Created' %}</th>
                    <th><span title="{% trans "Number of spectators" %}" class="fa fa-users eas-tooltip"></span></th>
                    <th>is_participant</th>  {# is_participant: Used to filter by "Only draws you take part in" #}
                    <th>creation_ts</th>
                </tr>
            </thead>
            <tbody>
            {% for d in public_draws %}
                <tr alt="{% url 'retrieve_draw' draw_id=d.pk %}" data-draw_id="{{d.pk}}">
                    <td>{% if user.is_authenticated %}
                            {% if user.pk == d.owner %}
                                <span title="{% trans "You have created this draw" %}" class="fa fa-paw eas-tooltip"></span>
                            {% elif user.pk in d.users %}
                                <span title="{% trans "You have been invited to this draw" %}" class="fa fa-envelope-o eas-tooltip"></span>
                            {%endif%}
                        {%endif%}
                    </td>
                    <td>{{ d.title }}</td>
                    <td>
                        {% if user.is_authenticated and d.owner == user.pk %}
                            {% trans "Me" %}
                        {% else %}
                            {{ d.owner|default:_('No owner')}}
                        {% endif %}
                    </td>
                    <td>{{ d.creation_time|naturaltime}}</td>
                    <td>{{ d.users|length }}</td>
                    <td>{% if user.pk in d.owner or user.pk in d.users %}y{% endif %}</td>
                    <td>{{ d.creation_time|date:"YmdHis" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
