{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <script type="text/javascript" src="{% static "js/bootstrap-filestyle.js" %}"> </script>
{% endblock extra_head %}
{% block extra_jq_ready %}
    var $user_draws = $('#my-draws').dataTable(
        {
            "bJQueryUI": true,
            "language" : {
                "emptyTable":     "{% trans 'No data available in table'%}",
                "info":           "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
                "infoEmpty":      "{% trans 'Showing 0 to 0 of 0 entries'%}",
                "infoFiltered":   "{% trans '(filtered from _MAX_ total entries)'%}",
                "thousands":      "{% trans ','%}",
                "lengthMenu":     "{% trans 'Show _MENU_ entries'%}",
                "loadingRecords": "{% trans 'Loading...'%}",
                "processing":     "{% trans 'Processing...'%}",
                "search":         "{% trans 'Search:'%}",
                "zeroRecords":    "{% trans 'No matching records found'%}",
                "paginate": {
                    "first":      "{% trans 'First'%}",
                    "last":       "{% trans 'Last'%}",
                    "next":       "{% trans 'Next'%}",
                    "previous":   "{% trans 'Previous'%}"
                },
                "aria": {
                    "sortAscending":  "{% trans ': activate to sort column ascending'%}",
                    "sortDescending": "{% trans ': activate to sort column descending'%}"
                }
            },
            "order": [[ 2, "desc" ]],
            "columnDefs": [
                { "targets": 0, "width": 12, "sortable": true },
                { "targets": 1, "sortable": true },
                { "targets": 2, "width": 120 },
                { "targets": 3, "width": 80 },
                { "targets": 4, "visible": false}
            ]
        }
    );

    $('#my-draws_wrapper').easDataTable({
        "type": "profile",
        "dataTable_plugin": $user_draws,
        "msg_your_draws": "{% trans "Show only your public draws" %}",
        "msg_search": "{% trans "Search" %}..."
    });

    $('#my-draws').on( 'click', 'tr', function () {
        if(!($(this).attr('alt')))
            return true;

        window.location = $(this).attr('alt');
    } );

    // ------------- Edit profile table -----------------------
        $('.settings-item-link').click(function (){
        $(this).parent().addClass('opened-settings-panel');
    });

    $('.cancel-edition').click(function (){
        $("#user-settings").accordion({active: false}).click();
    });

    $('.accordion').accordion({collapsible: true, active: false, heightStyle: "content", animate: false});

     function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
     }

    $('#new-email').bind('input propertychange', function() {
        var email_valid = validateEmail($(this).val());
        if (email_valid){
            $('#change-email-password').removeClass('hidden');
        }
    });

{% endblock extra_jq_ready %}

{% block content %}
    <div id="profile">
        <div class="col-xs-12 text-center" >
            <a href="{% url 'index' %}" class="back-arrow pull-left col-xs-2">
                <img src="{% static "img/back_arrow.png" %}" alt="{% trans "back" %}"/>
            </a>
            <h1 class="col-xs-8">{% trans "Profile" %}</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="user-settings" class="row text-center accordion">
                    {# Edit Username #}
                    <p class="h3 text-left">
                        <span class="user-settings-label">{% trans "Alias" %}</span>
                        <span class="user-settings-content">{{ user }}</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <div class="row">
                            <div class="user-settings-label col-xs-4 text-right">{% trans "New alias" %}</div>
                            <div class="col-xs-8 text-left"><input type="text"/></div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-primary btn-settings">{% trans "Save alias" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Password #}
                    <p class="h3 text-left">
                        <span class="user-settings-label">{% trans "Password" %}</span>
                        <span class="user-settings-content">*********</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="user-settings-label col-xs-4 text-right">{% trans "Current" %}</div>
                                    <div class="col-xs-8 text-left"><input type="text"/></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="user-settings-label col-xs-4 text-right">{% trans "New" %}</div>
                                    <div class="col-xs-8 text-left"><input type="text"/></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="user-settings-label col-xs-4 text-right">{% trans "Repeat new" %}</div>
                                    <div class="col-xs-8 text-left"><input type="text"/></div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-primary btn-settings">{% trans "Change password" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Email #}
                    <p class="h3 text-left">
                        <span class="user-settings-label">{% trans "Email" %}</span>
                        <span class="user-settings-content">{{ user.get_email }}</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel" title="{% trans "Sorry, changing your email is not possible yet." %}">
                        <div class="user-settings-label col-xs-4 text-right">{% trans "New email" %}</div>
                        <div class="col-xs-8 text-left">
                            <input id="new-email" type="email" disabled/>
                        </div>
                        <div id="change-email-password" class="hidden col-xs-12">
                            <p id="info-change-user-email">{% trans "For your security, you must re-enter your password to continue." %}
                            <a href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a></p>
                            <div class="user-settings-label col-xs-4 text-right">{% trans "Password" %}</div>
                            <div class="col-xs-8 text-left">
                                <input type="text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-primary btn-settings" disabled>{% trans "Change email" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Avatar #}
                    <p class="h3 text-left">
                        <span class="user-settings-label">{% trans "Avatar" %}</span>
                        <span class="user-settings-content">Avatar</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <div id="btn-upload-image" class="col-xs-6 text-center">
                            <input id="upload-image" type="file" class="filestyle" data-classButton="btn btn-primary" data-badge="false" data-input="false" data-classIcon="icon-plus" data-buttonText="{% trans "Choose an image" %}"  onchange="PreviewImage();">
                        </div>
                        <div id="div-upload-preview" class="col-xs-6 text-center">
                            <img id="upload-preview" />
                        </div>
                        <script type="text/javascript">
                          function PreviewImage() {
                              $('#confirm-avatar').removeClass('hidden');
                            var oFReader = new FileReader();
                            oFReader.readAsDataURL(document.getElementById("upload-image").files[0]);

                            oFReader.onload = function(oFREvent) {
                              document.getElementById("upload-preview").src = oFREvent.target.result;
                            };
                          };
                        </script>
                        <div class="col-xs-12 text-center">
                            <button id="confirm-avatar" class="btn btn-primary btn-settings hidden">{% trans "Confirm avatar" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%if draws.owner %}<h2 class="text-center">{% trans "Draws history" %}:</h2>{% endif %}
        <table id="my-draws" class="data-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>{%trans 'Draw Name' %}</th>
                    <th>{%trans 'Created on' %}</th>
                    <th>{%trans '# results' %}</th>
                    <th>is_public</th>
                </tr>
            </thead>
            <tbody>
            {% for d in draws.owner reversed%}
                <tr alt="{% url 'retrieve_draw' draw_id=d.pk %}" style="cursor: pointer;">
                    <td class="text-right">{% if not d.shared_type  %}
                            <span class="fa fa-user" title="{% trans 'Private draw' %}"></span>
                        {% else %}
                            <span class="fa fa-globe" title="{% trans 'Public draw' %}"></span>
                        {% endif %}
                    </td>
                    <td>{{ d.title }}</td>
                    <td>{{d.creation_time|date:" Y/m/d G:i "}}</td>
                    <td>{{d.results | length}}</td>
                    <td>{% if d.shared_type  %}y{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
