{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
    <!-- Datatables -->
    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/eas_datatable.js' %}"></script>
    <!-- MD5 encryption -->
    <script src="{% static 'js/md5.js' %}"></script>
{% endblock extra_head %}
{% block extra_jq_ready %}
    var $user_draws = $('#my-draws').dataTable(
        {
            "bJQueryUI": true,
            "language" : {
                "emptyTable":     "{% trans 'No data available in table'%}",
                "info":           "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries'%}",
                "infoEmpty":      "{% trans 'Showing 0 to 0 of 0 entries'%}",
                "infoFiltered":   "{% trans '(filtered from _MAX_ total entries)'%}",
                "thousands":      "{% trans ','%}",
                "lengthMenu":     "{% trans 'Show _MENU_ entries'%}",
                "loadingRecords": "{% trans 'Loading...'%}",
                "processing":     "{% trans 'Processing...'%}",
                "search":         "{% trans 'Search:'%}",
                "zeroRecords":    "{% trans 'No matching records found'%}",
                "paginate": {
                    "first":      "{% trans 'First'%}",
                    "last":       "{% trans 'Last'%}",
                    "next":       "{% trans 'Next'%}",
                    "previous":   "{% trans 'Previous'%}"
                },
                "aria": {
                    "sortAscending":  "{% trans ': activate to sort column ascending'%}",
                    "sortDescending": "{% trans ': activate to sort column descending'%}"
                }
            },
            "order": [[ 2, "desc" ]],
            "columnDefs": [
                { "targets": 0, "width": 12, "sortable": true },
                { "targets": 1, "sortable": true },
                { "targets": 2, "width": 120 },
                { "targets": 3, "width": 80 },
                { "targets": 4, "visible": false}
            ]
        }
    );

    $('#my-draws_wrapper').easDataTable({
        "type": "profile",
        "dataTable_plugin": $user_draws,
        "msg_your_draws": "{% trans "Show only your public draws" %}",
        "msg_search": "{% trans "Search" %}..."
    });

    $('#my-draws').on( 'click', 'tr', function () {
        if(!($(this).attr('alt')))
            return true;

        window.location = $(this).attr('alt');
    } );

    // ------------- Edit profile table -----------------------
    $('.cancel-edition').click(function (){
        $("#user-settings").accordion({active: false}).click();
    });

    $('.accordion').accordion({collapsible: true, active: false, heightStyle: "content", animate: false});

     function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
     }

    $('#new-email').bind('input propertychange', function() {
        var email_valid = validateEmail($(this).val());
        if (email_valid){
            $('#change-email-password').removeClass('hidden');
        }
    });

    // ------------- Edit alias -----------------------
    $('#save-alias').click(function (){
        // Clean errors (if exist)
        $('.has-error').removeClass('has-error');
        $('.info-error').addClass('hidden');

        var alias = $('#user-alias').val();
        var data = JSON.stringify({"alias": alias});
        console.log(data);
        $.ajax({
            method : "PATCH",
            url   : "{% url 'api_dispatch_detail' api_name="v1" resource_name="user" pk=user.pk %}",
            contentType : 'application/json',
            data  : data
        }).done(function (data){
            window.location.reload();
        })
        .fail(function (e) {
            //TODO Improve feedback
            console.log("Couldn't change alias");
        });
    });

    // ------------- Edit password -----------------------
    $('#save-password').click(function (){
        // Clean errors (if exist)
        $('.has-error').removeClass('has-error');
        $('.info-error').addClass('hidden');

        var new_password = $('#new_password').val();
        var new_password_repeat = $('#new_password_repeat').val();
        if (new_password != new_password_repeat){
            $("#group-new-password").addClass('has-error');
            $("#group-new-password-repeat").addClass('has-error');
            $("#group-new-password-repeat .info-error").removeClass("hidden");
            return;
        }
        $.ajax({
            contentType : 'application/json',
            method : "PATCH",
            url: "{% url 'api_dispatch_detail' api_name="v1" resource_name="user" pk=request.user.pk %}",
            data  : JSON.stringify({
                 password : new_password,
            })
        }).done(function (data){
            var label_password = $('#profile-edit-password .user-settings-content');
            label_password.empty();
            label_password.append("<strong>{% trans "Password updated" %}</strong>");

            $('#user-settings').accordion({
                active: false,
                collapsible: true
            });
        })
        .fail(function () {
            console.log("Couldn't change password");
        });
    });

    // ------------- Edit avatar -----------------------
    // Preview Gravatar change
    $('input[type=radio][name=option-avatar]').change(function() {
        var avatar_default = "monsterid";
        var email = "{{user.email}}";
        var url = '//www.gravatar.com/avatar/' + hex_md5(email);
        url += '?d=' + avatar_default;
        // If "random" is selected, the default random image is forced
        if (this.value == 'random') {
            url += '&f=y';
        }
        $('#avatar-preview').attr("src", url);
    });


    $('#confirm-avatar').click(function (){
        var avatar_option = $('input[type=radio][name=option-avatar]:checked').val();
        use_gravatar = avatar_option == 'gravatar';
        $.ajax({
            method : "PATCH",
            contentType : 'application/json',
            url: "{% url 'api_dispatch_detail' api_name="v1" resource_name="user" pk=request.user.pk %}",
            data  : JSON.stringify({
                 use_gravatar : use_gravatar,
            })
        }).done(function (){
            var label_avatar = $('#profile-edit-password .user-settings-content');
            label_avatar.empty();
            if (use_gravatar){
                label_avatar.append("<strong>{% trans "Use gravatar" %}</strong>");
            }else{
                label_avatar.append("<strong>{% trans "Use random monster" %}</strong>");
            }
            $('#user-settings').accordion({
                active: false,
                collapsible: true
            });
        })
        .fail(function () {
            console.log("Couldn't change password");
        });
    });
{% endblock extra_jq_ready %}

{% block content %}
    <div id="profile">
        <div class="col-xs-12 text-center" >
            <a href="{% url 'index' %}" class="back-arrow pull-left col-xs-2">
                <img src="{% static "img/back_arrow.png" %}" alt="{% trans "back" %}"/>
            </a>
            <h1 class="col-xs-8">{% trans "Profile" %}</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="user-settings" class="row text-center accordion">
                    {# Edit alias #}
                        <p id="profile-edit-alias" class="h3 text-left">
                        <span class="user-settings-label">{% trans "Alias" %}</span>
                        <span class="user-settings-content">{{ user.alias }}</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <div class="row">
                            <div class="user-settings-label col-xs-4 text-right">{% trans "New alias" %}</div>
                            <div class="col-xs-8 text-left"><input id="user-alias" type="text"/></div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button id="save-alias" class="btn btn-primary btn-settings">{% trans "Save alias" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Password #}
                    <p id="profile-edit-password" class="h3 text-left">
                        <span class="user-settings-label">{% trans "Password" %}</span>
                        <span class="user-settings-content">*********</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <ul>
                            <li>
                                <div id="group-new-password" class="row">
                                    <label class="user-settings-label col-xs-4 text-right">{% trans "New" %}</label>
                                    <div class="col-xs-8 text-left"><input id="new_password" type="password"/></div>
                                </div>
                            </li>
                            <li>
                                <div id="group-new-password-repeat" class="row">
                                    <label class="user-settings-label col-xs-4 text-right">{% trans "Repeat new" %}</label>
                                    <div class="col-xs-8 text-left">
                                        <input id="new_password_repeat" type="password"/>
                                        <div class="info-error hidden">{% trans "The passwords didn't match" %}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 text-center">
                            <button id="save-password" class="btn btn-primary btn-settings">{% trans "Change password" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Email #}
                    <p class="h3 text-left">
                        <span class="user-settings-label">{% trans "Email" %}</span>
                        <span class="user-settings-content">{{ user.email }}</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel eas-tooltip" title="{% trans "Sorry, changing your email is not possible yet." %}">
                        <div class="user-settings-label col-xs-4 text-right">{% trans "New email" %}</div>
                        <div class="col-xs-8 text-left">
                            <input id="new-email" type="email" disabled/>
                        </div>
                        <div id="change-email-password" class="hidden col-xs-12">
                            <p id="info-change-user-email">{% trans "For your security, you must re-enter your password to continue." %}
                            <a href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a></p>
                            <div class="user-settings-label col-xs-4 text-right">{% trans "Password" %}</div>
                            <div class="col-xs-8 text-left">
                                <input type="text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-primary btn-settings" disabled>{% trans "Change email" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>

                    {# Edit Avatar #}
                    <p id="profile-edit-avatar" class="h3 text-left">
                        <span class="user-settings-label">{% trans "Avatar" %}</span>
                        <span class="user-settings-content">{% if user.use_gravatar %}Gravatar{% else %}{% trans "Random avatar" %}{% endif %}</span>
                        <span class="user-settings-edit pull-right"><span class="fa fa-pencil"></span> {% trans "Edit" %}</span>
                    </p>
                    <div class="panel">
                        <div id="choose-avatar-option" class="col-md-6 text-left">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="option-avatar" id="avatar-gravatar" value="gravatar" {% if user.use_gravatar == True %}checked="checked"{% endif %}>
                                    Use Gravatar
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="option-avatar" id="avatar-random" value="random" {% if user.use_gravatar == False %}checked="checked"{% endif %}>
                                    {% trans "Use my random monster!" %}
                                </label>
                            </div>
                        </div>
                        <div id="div-avatar-preview" class="col-md-6 text-center">
                            <img id="avatar-preview" src="{{ user.user_image }}"/>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button id="confirm-avatar" class="btn btn-primary btn-settings">{% trans "Save" %}</button>
                            <button class="btn btn-default btn-settings cancel-edition">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%if draws.owner %}<h2 class="text-center">{% trans "Draws history" %}:</h2>{% endif %}
        <table id="my-draws" class="data-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>{%trans 'Draw Name' %}</th>
                    <th>{%trans 'Created on' %}</th>
                    <th>{%trans '# results' %}</th>
                    <th>is_public</th>
                </tr>
            </thead>
            <tbody>
            {% for d in draws.owner reversed%}
                <tr alt="{% url 'retrieve_draw' draw_id=d.pk %}" style="cursor: pointer;">
                    <td class="text-right">{% if not d.shared_type  %}
                            <span class="fa fa-user eas-tooltip" title="{% trans 'Private draw' %}"></span>
                        {% else %}
                            <span class="fa fa-globe eas-tooltip" title="{% trans 'Public draw' %}"></span>
                        {% endif %}
                    </td>
                    <td>{{ d.title }}</td>
                    <td>{{d.creation_time|date:" Y/m/d G:i "}}</td>
                    <td>{{d.results | length}}</td>
                    <td>{% if d.shared_type  %}y{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
