<div id="public-draw-invite" class="col-xs-12 col-md-8 col-md-offset-2">
    <p class="h4"> Invite people: </p>
        <p>An invitation will arrive to the emails you introduce below</p>
        <input type="text" id="emails" name="invite-emails" class="form-control" placeholder="Type the emails here...">
        <p>OR</p>
    <p data-toggle="tooltip" data-placement="top" title="Feature coming soon">Share the link to the draw:
        <a><strike>http://127.0.0.1:8000/draw/5504d71b78332720c439f120</strike></a>
    </p>
</div>
