<div class="public-draw-restriction col-xs-12 col-md-8 col-md-offset-2">
    <div class="col-xs-6">
        <p class="h4">Who can access your draw? </p>
    </div>
    <div class="col-xs-6 text-center">
        <a data-toggle="modal" href="#access-level" class="access-level">
            <span class="fa fa-unlock fa-2x"></span> <div id="public-mode-selected"> Everyone </div>
        </a>
    </div>
    <div id="recently-created" class="col-xs-12 form-group">
        <p data-toggle="tooltip" data-placement="top" title="It will help your friends to find your draw faster">
            <input type="checkbox"> Show the draw in the list "Recently created".
        </p>
    </div>
</div>