{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Random item | Echalo A Suerte{% endblock title %}
{% block extra_jq %}
$('#id_items').tokenfield({createTokensOnBlur:true});
{% endblock extra_jq %}
{% block content %}
    <div class="row">
        <!-- Draw Heading -->
        {% include "draw_heading.html" with title="Random item" %}

        <div class="col-sm-8 col-sm-offset-2">
            <!-- Input Form -->
            <form action="{% url 'random_item' %}" class="blueForms" method="post">
                {% crispy draw draw.helper %}
                <div class="text-center">
                    <input type="submit" name="sumbit" value="Toss" class="btn btn-primary" id="submit-id-submit">
                </div>
            </form>
            <!-- End Input Form -->

            <!-- Results -->
            <div class="row text-center">
                {% if results %}
                    {% if results|length  == 1%}
                        <p class="h2">Result</p>
                    {% else %}
                        <p class="h2">Results</p>
                    {% endif %}
                    <ul class="list-group">
                        {% for item in results %}
                            <li class="list-group-item col-xs-6 col-xs-offset-3">
                                {{ item }}
                            </li>
                        {% endfor %}
                    </ul>

                {%  endif %}
            </div>
            <!-- Results -->
        </div>
    </div>
{% endblock %}
