{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <h1>Random Numbers</h1>
            {% crispy draw draw.helper %}
        </div>
        <div class="row">
                {% if results %}
                    {% if results|length  == 1%}
                        <h2>Result</h2>
                    {% else %}
                        <h2>Results</h2>
                    {% endif %}
                    <ul class="list-group">
                        {% for number in results %}
                            <li class="list-group-item col-xs-4">
                                {{ number }}
                            </li>
                        {% endfor %}
                    </ul>
                {%  endif %}
        </div>
    </div>
{% endblock %}
