{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Random item | Echalo A Suerte{% endblock title %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <a href="{% url 'index' %}" >
                <img class="col-xs-3" src="{% static "img/back_arrow.png" %}"/>
            </a>
            <h1 class="col-xs-9">Random Items</h1>
            <form action="{% url 'random_item' %}" class="blueForms" method="post">
                {% crispy draw draw.helper %}
                <h3>Items</h3>
                {% crispy items helper %}
                <div class="text-center">
                    <input type="submit" name="sumbit" value="Toss" class="btn btn-primary" id="submit-id-submit">
                </div>
            </form>

        </div>
        <div class="row">
                {% if results %}
                    {% if results|length  == 1%}
                        <p class="h2">Result</p>
                    {% else %}
                        <p class="h2">Results</p>
                    {% endif %}
                    <ul class="list-group">
                        {% for item in results %}
                            <li class="list-group-item col-xs-6">
                                {{ item }}
                            </li>
                        {% endfor %}
                    </ul>

                {%  endif %}
        </div>
    </div>
{% endblock %}
