{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-10 col-md-offset-1">
            <h1>Random Items</h1>

            <form id="random_item_form" method="post" action="/item">
                {% csrf_token %}
                <p>Choose {{ draw.number_of_results | bootstrap}} item(s)</p>
                {{ items | bootstrap_horizontal}}

                <input type="submit" name="submit" value="Toss"/>
            </form>
            {% if results %}
                {% if results|length  == 1%}
                    <h2>Result</h2>
                {% else %}
                    <h2>Results</h2>
                {% endif %}
                {% for number in results %}
                    <p>* {{ number }}</p>
                {% endfor %}
            {%  endif %}
        </div>
    </div>
{% endblock %}
