{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <!-- OPTION 1
            <a class="col-xs-6 col-sm-4" href="{% url 'index' %}" >
                <img src="{% static "img/back_arrow.png" %}"/>
            </a>
            <img class="col-xs-6 col-sm-4 col-sm-push-4" src="{% static "img/public_draw.png" %}"/>
            <div class="clearfix visible-xs"></div>
            <h1 class="col-xs-12 col-sm-4 col-sm-pull-4">Random Numbers</h1>
            -->
            <a href="{% url 'index' %}" >
                <img class="col-xs-3" src="{% static "img/back_arrow.png" %}"/>
            </a>
            <h1 class="col-xs-6">Random Numbers</h1>
            <img class="col-xs-3" src="{% static "img/public_draw.png" %}"/>
            <div class="clearfix visible-xs"></div>
            {% crispy draw draw.helper %}
        </div>

        <div class="row">
                {% if results %}
                    {% if results|length  == 1%}
                        <p class="h2">Result</p>
                    {% else %}
                        <p class="h2">Results</p>
                    {% endif %}
                    <ul class="list-group">
                        {% for number in results %}
                            <li class="list-group-item col-xs-4">
                                {{ number }}
                            </li>
                        {% endfor %}
                    </ul>
                {%  endif %}
        </div>
    </div>
{% endblock %}
