{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div id="registration-success" class="text-center">
            <div class="h2">{% trans "You have created an account!" %}</div>
                <div class="row">
                    <img src="{% static "img/logo_vector.svg" %}" alt="Logo">
                </div>
            <div id="subtitle" >{% trans "Now you have access to all the functionalities of the site" %}</div>
            <a href="{% url 'index' %}" class="btn btn-primary">{% trans "Go to Home screen" %}</a>
        </div>
    </div>
{% endblock %}
