{% load staticfiles %}
{% load i18n %}

{% comment %}
    Parameters received:
        - draw_type
        - draw_icon
        - title
        - help
{% endcomment %}

<a class="draw-link" href="javascript:void(0);"
   data-url-normal="{% url 'create_draw' draw_type=draw_type%}"
   data-url-shared="{% url 'create_public_draw' draw_type=draw_type%}"
    >
    <div id="{{ draw_type }}-draw" class="draw-box">
        <img src="{% static draw_icon %}" alt="{{ title }}"/>
        <div class="draw-box-title text-center">{{ title }}</div>
        <span class="fa fa-question visible-lg eas-tooltip" title="{{ help }}"></span>
    </div>
</a>
