{% load staticfiles %}
{% load i18n %}

{% comment %}
    Parameters received:
        - draw_type
        - draw_icon
        - title
        - help
{% endcomment %}

<a class="draw-link" {% if is_public%}
                        href="{% url 'create_public_draw' draw_type=draw_type%}">
                    {% else %}
                        href="{% url 'create_draw' draw_type=draw_type%}">
                    {% endif %}
    <div id="{{ draw_type }}-draw" class="draw-box">
        <img src="{% static draw_icon %}" alt="{% trans title %}"/>
        <div class="draw-box-title text-center">{% trans title %}</div>
        <span class="fa fa-question visible-lg" title="{% trans help %}"></span>
    </div>
</a>
