{% comment %}
================= SNIPPET BREADCRUMB ==================
It renders the breadcrumb to assist the creation of a public draw.

It doesn't receive any parameter but it use variables that need to be declared in the parent template, namely:
    - is_public: This variable only exists when the user is dealing with a public draw
{% endcomment %}

{% load i18n %}

<!-- breadcrumb for creating Public Draw -->
{% if is_public%}
    <div class="row breadcrumb-public-draw" data-current-step="choose">
        <div class="help-text">
            <span class="col-xs-12 col-sm-10 col-sm-offset-1 title">{%trans 'Creating a public draw' %}</span>
            <a id="choose" class="col-xs-4 subtitle focus"><span>1.</span> {%trans 'Choose' %}</a>
            <a id="configure" class="col-xs-4 subtitle "><span>2.</span> {%trans 'Configure' %}</a>
            <a id="spread" class="col-xs-4 subtitle "><span>3.</span> {%trans 'Spread' %}</a>
        </div>
    </div>
{% endif %}
<!-- End breadcrumb Public Draw -->
