{% comment %}
================= SNIPPET PRIVACY SELECTION ==================
It renders the UI to modify the level of privacy of a public draw. There are three posible options:
    - Everyone
    - With password or invitation
    - Only with invitation

It doesn't receive any parameter. Nevertheless, the variable public_draw_step is used once to customize feedback
depending on the situation. The variable public_draw_step only exists during the process of creation of a public draw.
{% endcomment %}

{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <!-- Shown when the draw is already public -->
        <div id="alert-level-privacy-success" class="alert feedback alert-success hide" role="alert">
            {% trans "The level of privacy of your draw has been updated." %}
        </div>
        <div id="alert-level-privacy-fail" class="alert feedback alert-danger hide" role="alert">
            {% trans "The level of privacy couldn't be change." %}
        </div>
        {% trans "Who do you want to access the draw?" %}
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div id="restriction-headings">
                <div id="restriction-everyone" class="col-xs-3">{% trans "Everyone" %}</div>
                <div id="restriction-password" class="col-xs-6">{% trans "With password or invitation" %}</div>
                <div id="restriction-invited" class="col-xs-3">{% trans "Only with invitation" %}</div>
            </div>
            <div id="privacy-selector" class="col-xs-8 col-sm-10 col-xs-offset-2 col-sm-offset-1">
            </div>
        </div>
        <div id="restriction-extra" class="col-xs-12">
            <div id="extra-everyone" class="col-xs-12">
                {% trans "Everyone will be able to access the draw." %}
                <div class="alert alert-info" role="alert">
                    {% trans "Tip: Use this mode for informal and fast draws. Neither invitation nor password will be required!" %}
                </div>
            </div>
            <div id="extra-password" class="col-xs-12">
                {% trans "Only those who know the password will be able to access the draw." %}
                <div class="col-xs-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="draw-password" type="password" class="form-control has-clear" name="password" placeholder="Password">
                </div>
                <div class="alert alert-info" role="alert">
                    {% trans "Tip: You don't know exactly who is going to join the draw but still want some restriction? This is your draw!" %}
                </div>
            </div>
            <div id="extra-invited" class="col-xs-12">
                {% if public_draw_step %}
                    {% trans "You will be able to invite people by email when the draw is created." %}
                {% else %}
                    {% trans "You can invite people from the settings panel." %}
                {% endif %}
                <div class="alert alert-info" role="alert">
                    {% trans "Tip: Use this mode for small/medium groups where you know well who do you want to join the draw." %}
                </div>
            </div>
        </div>
    </div>
</div>